# 2 Data Wrangling <a id='2_Data_wrangling'></a>

## Contents<a id='2.1_Contents'></a>

### Part A <a id='Part_A'></a>
* [2.1 Introduction](#2.1_Introduction)
  * [2.1.1 Recap Of Data Science Problem](#2.1.1_Recap_Of_Data_Science_Problem)

* [2.2 Imports](#2.2_Imports)

* [2.3 Files](#2.3_Files)

* [2.4 Columns](#2.4_Columns)

* [2.5 Objectives](#2.5_Objectives)

* [2.6 Load the Data](#2.6_Load_the_Data)

* [2.7 Explore the Data](#2.7_Explore_the_Data)
    * [2.7.1 Admissions Data](#2.7.1_Admissions_Data)
       
    * [2.7.2 Disease Data](#2.7.2_Disease_Data)
    * [2.7.3 Labs Data](#2.7.3_Labs_Data)

    * [2.7.4 Patients Data](#2.7.4_Patients_Data)

    * [2.7.5 Prescriptions Data](#2.7.5_Prescriptions_Data)
    
    * [2.7.6 Train Data](#2.7.6_Train_Data)

### Part B <a id='Part_B'></a> 

* [2.8 Subset the Data](#2.8_Subset_the_Data)
    * [2.8.1 Subset the Disease Data](#2.8.1_Subset_Admissions_Data)
       
    * [2.8.2 Subset the Admissions Data](#2.8.2_Subset_Admission_Data)
    * [2.8.3 Subset the Labs Data](#2.8.3_Subset_Labs_Data)
    * [2.8.4 Subset the Prescriptions Data](#2.8.4_Subset_Prescriptions_Data)
    
* [2.9 One Record per Member Id](#2.9_One_Record_per_Member_Id) 
    * [2.9.1  Admissions Data Converted](#2.9.1_Admissions_Data)
    * [2.9.2  Disease Data Converted](#2.9.1_Disease_Data)
    * [2.9.3  Labs Data Converted](#2.9.3_Labs_Data)
    * [2.9.4 Patients Data Converted](#2.9.4_Patients_Data)
    * [2.9.5  Prescriptions Data Converted](#2.9.5_Prescriptions_Data)
   
### Part C <a id='Part_C'></a>     
* [2.10  Join the Converted Dataframes](#2.10_Join_the_Dataframes)
* [2.11  Save the Final Dataframe](#2.11_Save_the_Data)
* [2.12  Final Remarks](#2.12_Final_Remarks)

## 2.1 Introduction<a id='2.1_Introduction'></a>

This step focuses on collecting the data, organizing, and making sure factors are well defined. The majority of the data will be cleaned in this step.

### 2.1.1 Recap Of Data Science Problem<a id='2.1.1_Recap_Of_Data_Science_Problem'></a>

HCC is contingent on ICD-10 coding to attribute risk scores to patients. Along with demographic factors (such as age and gender), Anthem uses HCC coding to assign patients a RAF. HCC coding provides Anthem with a method of evaluating health risk(s) in order to predict the costs associated with each patient. The purpose of this data science project is to come up with a model for predicting new diseases for 2020 using data from 2018-2019 period.

## 2.2 Imports<a id='2.2_Imports'></a>

In [322]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
#from library.sb_utils import save_file

from ipynb.fs.full.auxiliary_functions import save_file

from ipynb.fs.full.auxiliary_functions import extract_icd_code 
# Extracts the icd codes from the icd_code column and return a dictionary where keys are member_ids and values are the corresponding icd codes, 
# see 'auxiliary_functions.ipynb' in the directory.

from ipynb.fs.full.auxiliary_functions import df1_one_record_per_member_id 
# Creates a df out of df1_subset where there is one record per member id

from ipynb.fs.full.auxiliary_functions import fill_df1_res 
# Fills df1_res

from ipynb.fs.full.auxiliary_functions import df2_one_record_per_member_id 
# Creates a df out of df2_subset where there is one record per member id

from ipynb.fs.full.auxiliary_functions import fill_df2_res 
# Fills the df2_res 

from ipynb.fs.full.auxiliary_functions import df3_one_record_per_member_id 
# Creates a df out of df3_subset where there is one record per member id

from ipynb.fs.full.auxiliary_functions import fill_df3_res 
# Fills df3_res

from ipynb.fs.full.auxiliary_functions import df5_one_record_per_member_id 
# Creates a df out of df5_subset where there is one record per member id

from ipynb.fs.full.auxiliary_functions import fill_df5_res 
# Fills df5_res

## 2.3 Files<a id='2.3_Files'></a>


* admissions_data.csv - contains information about hospital admissions for 2018-2019
* disease_data.csv - contains information about ICD and HCC for 2018-2019
* labs_data.csv - contains information about laboratory tests for 2018-2019
* patients_data.csv - contains member data such as gender, age, etc. for 2018-2019
* prescriptions_data.csv - contains drug prescriptions for 2018-2019
* train_labels.csv - contains labels for 2019 (new diseases discovered that year)

## 2.4 Columns<a id='2.4_Columns'></a>

* member_id - patients' ID
* admission_date - a date when hospital admission occurred
* discharge_date - date when member was discharge from the hospital
* admission_type - a hospital admission type
* icd_code - an ICD code (diagnosis) used for hospital admission
* is_readmission - 1 if member was already in the hospital in last 30 days, otherwise 0
* er_to_inp_admission_transfer - 1 if member had inpatient (INP) and ER (emergency) hospital admission same day, otherwise 0
* days_to_prev_admission - a number of days since last admission
* year_of_service - a year when ICD / HCC was detected by doctors
* icd_code - an ICD code (disease)
* icd_chronic_or_acute - a chronic / acute disease type
* hcc_code - a HCC coding for ICD
* hcc_chronic_or_acute - a chronic / acute HCC type
* date_of_service - a date when some service was provided to patients
* loinc_code - a laboratory test code
* performed_test_name - a laboratory test name
* abnormal_code - a flag that tells about low (L) or high (H) lab results
* result_value - a result value
* normal_low_value_numeric - a lower bound for reference lab result
* normal_high_value_numeric - an upper bound for reference lab result
* date_of_service - a date when some service was provided to patients
* patient_age - a patient's age
* patient_gender - a patient's gender
* patient_age - a patient's age
* dual_status - a flag that tells about Medicaid / Medicate insurance programms
* patient_age - a patient's age
* insurance_company - a company providing medical insurance
* insurance_type - an insurance type
* pbp_type - a member's risk group
* county - a member's county
* city - a member's city
* date_filled - a date when prescription was filled for the member
* ndc_number - a unique drug ID
* days_supply - a number of days for which the prescription was filled
* drug_name - a drug name
* metric_quantity - a drug dosage
* new_or_refill - 1 if a new drug was prescribed, otherwise 0
* hcc_9 - a flag that identifies that member has HCC 9. Similar logic should be used for other hcc_N columns

## 2.5 Objectives<a id='2.5_Objectives'></a>

There are some fundamental questions to resolve in this notebook before we move on.

   * What are the required target ilnesses?
   * Are there potentially useful features?
   * Is there any fundamental issues with the data?

## 2.6 Load the Data<a id='2.6_Load_the_Data'></a>

In [130]:
df1 = pd.read_csv('admissions_data.csv')
df2 = pd.read_csv('disease_data.csv')
df3 = pd.read_csv('labs_data.csv')
df4 = pd.read_csv('patients_data.csv')
df5 = pd.read_csv('prescriptions_data.csv')
df6 = pd.read_csv('train_labels.csv')

## 2.7  Explore the Data<a id='2.7_Explore_the_Data'></a>

### 2.7.1 Admissions Data<a id='2.7.1_Admissions_Data'></a>

We call the info method to see a summary of the data. We will also display the first few records using the head method.

In [131]:
df1.head()

,member_id,admission_date,discharge_date,admission_type,icd_code,is_readmission,er_to_inp_admission_transfer,days_to_prev_admission
0,AAoq6W9QR0G/kOfNZnoCPg==,2018-04-03,2018-04-03,OTH,NaN,No,N,NaN
1,AAoq6W9QR0G/kOfNZnoCPg==,2018-06-04,2018-06-04,OTH,NaN,No,N,62.0
2,AAoq6W9QR0G/kOfNZnoCPg==,2018-06-18,2018-06-18,OTH,NaN,No,N,14.0
3,AAoq6W9QR0G/kOfNZnoCPg==,2018-10-11,2018-10-11,OTH,NaN,No,N,115.0
4,AAoq6W9QR0G/kOfNZnoCPg==,2018-11-02,2018-11-02,OTH,NaN,No,N,22.0

In [132]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26479 entries, 0 to 26478
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   member_id                     26479 non-null  object
 1   admission_date                26479 non-null  object
 2   discharge_date                26479 non-null  object
 3   admission_type                26479 non-null  object
 4   icd_code                      18792 non-null  object
 5   is_readmission                26479 non-null  object
 6   er_to_inp_admission_transfer  26479 non-null  object
 7   days_to_prev_admission        11508 non-null  float64
dtypes: float64(1), object(7)
memory usage: 1.6+ MB

In [133]:
df1.nunique()

member_id                       9354
admission_date                   730
discharge_date                   755
admission_type                     9
icd_code                        5829
is_readmission                     2
er_to_inp_admission_transfer       2
days_to_prev_admission           852
dtype: int64

In order to use the date time specific functions in Pandas, we need to convert `admission_date` and `discharge_date` into an appropriate format.

In [134]:
df1['admission_date']=pd.to_datetime(df1['admission_date'])
df1['discharge_date']=pd.to_datetime(df1['discharge_date'])
df1.info() # we double check the data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26479 entries, 0 to 26478
Data columns (total 8 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   member_id                     26479 non-null  object
 1   admission_date                26479 non-null  datetime64[ns]
 2   discharge_date                26479 non-null  datetime64[ns]
 3   admission_type                26479 non-null  object
 4   icd_code                      18792 non-null  object
 5   is_readmission                26479 non-null  object
 6   er_to_inp_admission_transfer  26479 non-null  object
 7   days_to_prev_admission        11508 non-null  float64
dtypes: datetime64[ns](2), float64(1), object(5)
memory usage: 1.6+ MB

In our analysis we only consider records from 2018 and 2019. We will check unique values for the years of `admission_date` and `discharge_date` columns to see whether we need to eliminate some records.

In [135]:
pd.DatetimeIndex(df1['admission_date']).year.unique()

Int64Index([2018, 2019], dtype='int64', name='admission_date')

In [136]:
pd.DatetimeIndex(df1['discharge_date']).year.unique()

Int64Index([2018, 2019, 2020], dtype='int64', name='discharge_date')

Notice that all `admissions_date` are from 2018 or 2019, on the other hand we have some records from 2020 for `discharge_date`. We will eliminate these records in the next cell.

In [137]:
df1=df1[df1['discharge_date']<='2019-12-31']           # eliminate records from 2020
pd.DatetimeIndex(df1['discharge_date']).year.unique()  # check the update

Int64Index([2018, 2019], dtype='int64', name='discharge_date')

In [138]:
df1[(df1['discharge_date']-df1['admission_date']).dt.days<0].head(3)

,member_id,admission_date,discharge_date,admission_type,icd_code,is_readmission,er_to_inp_admission_transfer,days_to_prev_admission
475,BCe7vxpdQd+7exQf6EjkMQ==,2019-07-02,2019-06-20,INP,M1611,No,N,12.0
3576,IvBP0/7WQ/+IA0oLycHUDw==,2018-07-10,2018-06-21,INP,M1712;M25562,No,N,19.0
5310,MtKBVgQaQQWMV7/u5A6L7Q==,2019-12-02,2019-11-07,INP,M48061;M5136,Yes,N,15.0

Now `discharge_date` must be later than `admission_date` for each patient. However when we check the difference of these columns (see above) we saw that we have 13 records with negative difference which must be an error. This error might be that the dates were swapped when entered. So we will swap the dates for these records to fix the issue (see below).

In [139]:
num_days = (df1['discharge_date']-df1['admission_date']).dt.days<0 # durations that are smaller than zero.

df1.loc[num_days,['admission_date','discharge_date']] = df1.loc[num_days,['discharge_date','admission_date']].values.astype('datetime64[D]')

In [140]:
df1[(df1['discharge_date']-df1['admission_date']).dt.days<0] # check the update

Empty DataFrame
Columns: [member_id, admission_date, discharge_date, admission_type, icd_code, is_readmission, er_to_inp_admission_transfer, days_to_prev_admission]
Index: []

Next we will add one more column to keep track of the duration of each visit.

In [141]:
df1['visit_duration']=(df1['discharge_date']-df1['admission_date']).dt.days
df1.head(3) # check the update

,member_id,admission_date,discharge_date,admission_type,icd_code,is_readmission,er_to_inp_admission_transfer,days_to_prev_admission,visit_duration
0,AAoq6W9QR0G/kOfNZnoCPg==,2018-04-03 00:00:00,2018-04-03 00:00:00,OTH,NaN,No,N,NaN,0
1,AAoq6W9QR0G/kOfNZnoCPg==,2018-06-04 00:00:00,2018-06-04 00:00:00,OTH,NaN,No,N,62.0,0
2,AAoq6W9QR0G/kOfNZnoCPg==,2018-06-18 00:00:00,2018-06-18 00:00:00,OTH,NaN,No,N,14.0,0

Notice that if a patient admitted and discharged at the same day then the duration of the visit is 0. To distinguish a patient with a visit of 0 duration from the patients who did not visit the hospital we will create a column whose values are equal to `visit_duration` values increased by 1.

In [142]:
df1['visit_duration_updated']=df1['visit_duration']+1
df1.head(3) # check the update

,member_id,admission_date,discharge_date,admission_type,icd_code,is_readmission,er_to_inp_admission_transfer,days_to_prev_admission,visit_duration,visit_duration_updated
0,AAoq6W9QR0G/kOfNZnoCPg==,2018-04-03 00:00:00,2018-04-03 00:00:00,OTH,NaN,No,N,NaN,0,1
1,AAoq6W9QR0G/kOfNZnoCPg==,2018-06-04 00:00:00,2018-06-04 00:00:00,OTH,NaN,No,N,62.0,0,1
2,AAoq6W9QR0G/kOfNZnoCPg==,2018-06-18 00:00:00,2018-06-18 00:00:00,OTH,NaN,No,N,14.0,0,1

In [143]:
df1['visit_duration'].unique() # check the update

array([  0,   5,   2,  15,  10,  28,   1,   3,  23,  42,   8,   6,  11,
         9,   4,  19,  18,   7,  27,  12,  16,  20,  13,  31,  88,  52,
        17,  36,  21,  14,  22,  38,  24,  26,  29,  30,  41,  33,  32,
        25,  39,  35,  51,  44,  37,  43,  40,  53,  57,  46, 114,  73,
        34,  66,  64,  54,  92,  63,  69,  45,  83,  50,  56,  55,  62,
        48,  47, 142, 160, 116,  71,  81, 122, 121,  49,  59,  78,  58,
        70,  65,  67, 156, 108, 303, 113])

Furthermore, `icd_code` column has 3 main types of values; null, a single icd code or two or more icd codes joint with a (or multiple) semi colon(s) (see below).

In [144]:
df1['icd_code'].unique()

array([nan, 'R55', 'K8020;I4891', ..., 'K810;Z833', 'G459;I509',
       'R0602;J9600'], dtype=object)

Using `icd_code` column of df1 we will make a dictionary that has member ids as its keys and a list containing all the icd codes assigned to the member id. We use a function called  'extract_icd_code' for this task, see below. The dictionary will be saved for later use.

In [145]:
df1_icd_codes=extract_icd_code(df1)

In [326]:
df1_icd_codes

{'AAoq6W9QR0G/kOfNZnoCPg==': [],
 'ABVROrC0SFCeFKI7k2dCLg==': ['R55'],
 'ABounsImR7yi6ARWw/pLkQ==': [],
 'ACKVU9XTTqKWeNs8SZmUkg==': ['I4891', 'K8020'],
 'ACNZ/o2kTs+txoVYL8q26g==': [],
 'ACUfqquTQGCUDC4p8PV2zQ==': ['M4806', 'M549'],
 'ADD7uXD9TBOUjJD43H3tNw==': [],
 'ADcDzHCXRn6+o1JrHMu9Ig==': [],
 'ADhkdKTbQ3yT4jMMnolMsA==': ['R509',
  'T8092XA',
  'R42',
  'D461',
  'R69',
  'D649',
  'D469',
  'R55',
  'I82611'],
 'ADmRei/sToKomcEpER2/QQ==': [],
 'ADv2sppyQISSprHEgiLBNA==': ['K5732'],
 'ADzSfLNXRnC/Vu2sCAT06A==': ['I6529'],
 'AEdc8W1jTSqIRIqr0p/FEA==': ['I5033'],
 'AEeiIrq1RKOuuHYqsgeVJg==': ['I509', 'R0602', 'J449', 'G8918', 'I6522'],
 'AEvv627HQsGVwaZxJtHodg==': ['T7840XA'],
 'AE00vooXTF+f4BQ3DzfjUg==': ['R0602'],
 'AE3skHJnQOWWdhQ32sQv/w==': ['C031', 'C760'],
 'AE8XtySpQVSUmLbtxC2JRw==': [],
 'AFHdL351RA+LMOAjDYi6Rw==': ['R079', 'R0789'],
 'AFe1bdLARhauWFS1OeIOjw==': ['K922'],
 'AHPge9pHSWOfjvIBCnMhrg==': ['I6523',
  'J189',
  'I509',
  'I5189',
  'I214',
  'I350'],
 'AHs9VEB3Ro2ols04CwFEPw==': [],
 'AHv+i5IFQpCJZ0jloQ+AYA==': ['S50311A'],
 'AH8v69t8QBW1u2Iuh/5qlQ==': [],
 'AIEq/y06TGOCCjwkDzmaeA==': ['40569', 'I639'],
 'AInQlUfTRjSpklIOiuCifg==': [],
 'AI6/nXoVQTCRVr9cIIeaoA==': [],
 'AJWCveKTRFa2NE2M6C2ftg==': ['R079'],
 'AJqakdxCRBCMwitFb6KRYg==': [],
 'AJ59lWaKTm+9abVsT4b93w==': [],
 'AKHT9eDiTQiPWeG2yXRXdA==': [],
 'AK/yuahPR3Gx6dUrPtptzw==': ['I6521', 'K558', 'R109', 'Z98890', 'K51918'],
 'ALHyrkFtS7yxFFOVfEJukg==': ['R0602', 'J9690'],
 'ALQ+2X8YQ0KTIo6Vzkd8cA==': ['H8149', 'K5730'],
 'ALVw0LjJTJO4ZuquMHbsZQ==': ['M4802',
  'R079',
  'I200',
  'R740',
  'K529',
  'M5010'],
 'ALgedyx9T6uDKJf/92AAbw==': ['S82831A'],
 'ALsJgZmTRlCaeSglQJN3nw==': ['E1310', 'I509', 'R69'],
 'AL6HjQRzThGRKNgxLLTlkg==': ['R2990', 'G459', 'I609', 'R569', 'G4489'],
 'AL/z5lboQF+tvJa4YeiJ7w==': ['G9340', 'N390'],
 'AMwzwunLTnGxwWa4kNBwkA==': ['R079', 'R69', 'R748'],
 'ANR/sy0mR4W+O6MskJ+yjQ==': ['E871', 'E875', 'R531'],
 'ANjG6hTcQ/C6AjvFXrY6Eg==': [],
 'AOTpwLwnRAK5kUO4AxrECA==': ['I2510', 'I25110', 'I209', 'I201', 'R52'],
 'ARhLHMK0S4+q7CqFvjfQ7Q==': ['R002', 'K219', 'R1084'],
 'AR0YQwFdQMi1qBt9NHqoZQ==': ['I639'],
 'AR5F3t06TK27rg8appJuWA==': ['M25571'],
 'ASocXxCYQx2FqIa2wVEwPA==': ['K810'],
 'AS2GhQcDQCmOtyvr0js66g==': [],
 'AT8OymC8RvqD0Qyb7GgZ7Q==': ['J111'],
 'AUYJLdteSWqKBYBLYjwKRg==': ['S72009A'],
 'AU0cBl54QD+SFvjrs5hvug==': ['I214'],
 'AU++SKpVRTqtxHqBBcaNsg==': ['R6889'],
 'AVRlfK+cSnKHlMV9hxvgaA==': ['J9600', 'R4182', 'R531'],
 'AVWFEb5oTPC6UscegJb1xA==': ['R079', 'K8080'],
 'AV2bqeOVTriTi+f2sfNW5w==': ['R002',
  'R0789',
  'R4182',
  'M79671',
  'R000',
  'R358',
  'E876'],
 'AV+tZVbPQWmzmNveQpGZ/g==': ['M5136', 'M48062', 'M4807', 'M48061'],
 'AWrKJ1UYTnG3WJLuavXEmw==': ['E871', 'I2510', 'R55'],
 'AWxrtgH6TGOoMRGZT+buKw==': ['M542'],
 'AWzl67ShTNmYqlFvaSHZiQ==': ['L539'],
 'AXECYKyJStywzROAwyQ3rg==': ['I671'],
 'AXdZw2CWR96U8WjFEgVNbw==': ['S91331A'],
 'AX1iijxNSNGml/CJMUSMpA==': ['N179', 'N390', 'R739', 'E871', 'A419'],
 'AX87E2jCQaWqWc/IKpR5wg==': ['S0101XA', '99631'],
 'AYDkxCQqRiGRi61pz8vsvQ==': [],
 'AYeCU8ysS5iG/T4Y1W73pA==': [],
 'AYi00FzNRsuMfahp8oRwiQ==': [],
 'AY0093ctTUG+PjFuPFXQhA==': [],
 'AZayLRqFRgiRjsTgobpWug==': ['M1712', 'N19', 'I509'],
 'AaLj7nlXTbKVeRYG/BMqXQ==': ['G464'],
 'AaNPRvt2RouUPdc8Hg3Bbw==': [],
 'AaUEOz0ESX6RFsoV9BVmew==': ['I82409', 'R791'],
 'AaZrnYXoSB6J5g3fyn4tSA==': ['N184',
  'I214',
  'R69',
  'N189',
  'E119',
  'J9690',
  'I2109'],
 'Aadsg0UqTjuYLiICqKqVTw==': ['L03115', 'D649'],
 'Aaq7E6RTQNCZhS94ME7Q7A==': ['M1712'],
 'Aaw15sjqQUin9AHNIorFqw==': ['I6521', 'I671', 'R9431'],
 'Aa2maL79ROu4C3L4Q9HNLw==': [],
 'Aa/9NKbETT+RZT5DIyr8bw==': ['R112', 'M5412', 'E8809', 'R197', 'M47812'],
 'AbpGzIZPRz+01EW3GPCjvw==': ['R109'],
 'Abz1mT3fQ0KTg/XOx925Jg==': ['N289', 'D649'],
 'Ad8h931LQ1yBxSYhVcDLGA==': ['J441', 'J9601', 'A419'],
 'AeQYta18R4GDuhw2y21wlA==': ['R590', 'R221', 'R918', 'R109', 'C8587'],
 'AecjKn3URtmQ/NcqfANXvg==': ['R42', 'M1712', 'M172', 'D62'],
 'Aec5AlckSam/rI63S97DbA==': ['D72829'],
 'Afl3z85MQ1Ok6jyYXSTBhQ==': [],
 'AgO0ed1bRDWgoFYqO2qTyA==': ['M25512', 'R69'],
 'AgofpMVrS2SOPXYNjDqaMQ==': ['J441'],
 'AhIxd9Z9RPe3/THpah9lGw==': [],
 'AhUJg5j9RcG8LTAC8aoPGA==': [],
 'AhXWdQOWTxKlT2gHFhRhcQ==': [],
 'Ahhqd4bQSAynbTy4LjgIvg==': [],
 'AiZKUifzTYShD56altPKcw==': ['T50992A', 'G40'],
 'AiZ21/knTX60ICfFxN3UGg==': ['J069', 'K5900'],
 'AibbFe6OQCGx/cxMSitSgg==': ['R079', 'M542'],
 'Ainb7VhLQomsiCUamLlLwA==': [],
 'AiwwY3ymQd2Ok+3KpLI+OQ==': ['R112', 'C19', 'R69', 'Z932', 'R531'],
 'AjBAbGxIS3CQYpt91u2TTA==': [],
 'AjNABC5aTR+Boamnpjmguw==': [],
 'AkvsBM51TXKA318RvnuTqQ==': ['J209'],
 'Almu12WnSg20ptaxnaQ47Q==': ['N815', 'N993', 'R109', 'Z87891'],
 'AmPcvji2QKaLyZJSBmt+0w==': ['R0602', 'K56609', 'R108'],
 'AmbYU+nfSuyrLLlim15OQg==': [],
 'AmqD7bn8Tra3NssCSD+yGg==': ['T7840XA'],
 'Anr1P41oSzm4VcEAMajNBA==': [],
 'Anx1lUHtSU2bulfDzl4E7g==': ['R51', 'K922'],
 'AoIBVkBkShiyi3Jn6mznCA==': ['M1712', 'M19042', 'R55', 'M7542'],
 'AoNWvs6TTluL/vRr3dAbfQ==': ['E875'],
 'AoqPoHZES5q4k6BtFXT7Ww==': ['R0789'],
 'Ao0DDdiqRxyhkk5PocA7cA==': ['N23'],
 'ApMEoqmTSXy/n50hjDdWYQ==': ['G459', 'K921', 'I213', 'K922'],
 'AprRZY46Q4acUS5sDWsqlQ==': [],
 'Aq2Nv+iKRD2dmH517ZjtLQ==': ['K9131', 'I4891', 'I2510', 'R079'],
 'Aq/L5Kd/SiGa9iWgPXX1PA==': ['J069'],
 'ArQ5il7DSJ62mRE57nXRKw==': ['I2510', 'E785', 'K810', 'I10'],
 'Ar185DjGRMK8ZX2E86QQRw==': [],
 'AsGJg02sQhCD06vqPDAceA==': ['K635'],
 'AscmoB+lSGOLgSgXlha/xw==': ['M1711'],
 'AseYhiIWRJ2Ecirxx/svQQ==': ['M1712'],
 'AtFJ+iY3SSWZkR2KTIXY4g==': ['K810'],
 'AuamUMo/To24qWfKOk2TlA==': ['S0990XA'],
 'AuuEfVePRh+pT2ouzpZPNA==': ['C50911'],
 'Au/hUKS9Tuqehlt5Jq3Fjg==': [],
 'Av7s7e/hSJCamr1c7WfSfQ==': [],
 'AwVhDxMvSjaIJdtviubbow==': ['R079', 'T148XXA', 'K819', 'Z189'],
 'Aw7aTz4LSQK943B4cHXnFw==': ['R410', 'Z90710'],
 'AxFDdmpRSs2x3SW1HxznZA==': ['I4891', 'R202'],
 'AxMGHXsAQGeOfOmzErUrfQ==': ['R319', 'D390', 'R531'],
 'Ayok9jOETJq8z1VzpBuY7A==': [],
 'Aysr6/9JRi2N4yANDUgKng==': ['160484', 'R109', 'K5792', 'K625'],
 'AzJ8JA7kTpyuaKk9An+AXA==': [],
 'AzLUk6H/TuOs1lLDHXNrmQ==': ['S60416A'],
 'AzMrDmfzSMe56DlOg/aRjg==': ['G4733', 'K219'],
 'AzU4MPqyQD2VuqWzQas7mA==': ['R079', 'I639'],
 'AzWG7aPiS2yADfr+Rp0vYA==': ['N390'],
 'Azrn+/8aT1mpnzz0kueTWw==': [],
 'AzyefuipTAOIfxi5IMztsw==': ['I340', 'I2510'],
 'Az1Y78+gQF6ROPzxie9DGA==': ['R112',
  'M6282',
  'R4182',
  'R531',
  'R6521',
  'A419',
  'R000'],
 'Az1y5nGwSiynDu2TkibCNg==': [],
 'Az3V5CMuTDOHN2mqVR4z7Q==': ['R109'],
 'A0Qqw53+RKWF7mWOSZFmBQ==': [],
 'A0cX5pEiR9GsYCESDB7qHQ==': ['I2510', 'I714', 'I739'],
 'A1DZTiofSYaDET5jq/pUZQ==': [],
 'A1SdBvnbQuG5g0ibBO/Org==': ['E872', 'E6601', 'R109', 'N186'],
 'A1wPi/9qSiW4yKTb1od05w==': ['R079'],
 'A2EdZ8KbRS2xnsYbdzmFkw==': ['J441', 'J45901'],
 'A3dm11qkRBmzruUkW8gW9A==': ['R079', 'R739', 'E860'],
 'A3oanoc9TPmvJBOZKLGHiw==': ['M1712', 'M1711', 'M79609'],
 'A5MZ+fyeRPauW+YAq0Ypyg==': ['R42'],
 'A6eutl6ES/Guu+ujl16cHA==': [],
 'A7OMRgTATq+AmdLz8e1R2A==': ['S92002A'],
 'A7PJ3G/GRve17uKFJuPbjg==': ['T148XXA', 'N390', 'A419', 'S32402D'],
 'A7R0SmW9QaqZHMDc2CV8cQ==': ['R079', 'K921', 'D649', 'N183'],
 'A8Xvlg3NRgCtXK0vOuzXvA==': ['J189', 'I2510', 'A419', 'I209'],
 'A8lhyEHETaq7UZQq0Y0RLA==': ['M1611', 'R69'],
 'A8lzI6yDSN2vaMORSoR+Pw==': [],
 'A8oEgckpT823ll/LGxl37Q==': ['R0789',
  'I214',
  'R69',
  'E119',
  'R079',
  'R748',
  'K819'],
 'A80a4abLSYiHgVoEmqB0Ug==': ['E860', 'K567'],
 'A87dW0fVTn6JjjUxW/UmJA==': ['R1030', 'E860', 'R109'],
 'A9jIWwJmRx+uMpL+xB/F2g==': ['R079', 'E860'],
 'A9qWGM4qQxuph7P+HPUHQQ==': ['A419', 'I10'],
 'A94WOHX1SwGbnMfdwWc8wA==': ['I5033'],
 'A+FZiCKGQTqC/1dyisjNNQ==': ['I160'],
 'A+fpqALcQxWbgI+t3rscFA==': ['M1612', 'M79609'],
 'A/MtG7Z7Q66BIoEmGLgltQ==': [],
 'A/xn8+EXTXWvIkFQbo8mbA==': [],
 'BAOd0N5IQu2TLhKpMPdV4w==': ['R928'],
 'BAdlUS2LSoOa116WrvkZVQ==': ['E860'],
 'BAyAFsSURkes3Q6jmjCL4Q==': ['S51011A'],
 'BBUonVdAS1al3Y3yq2X1ZQ==': [],
 'BBgNIxp6STq91S4DPBs5hA==': ['R1010'],
 'BBk7ItuXQES2Xvxj3OfW6g==': [],
 'BCW0aw48S6Kxvvs9gTTHjA==': ['D649', 'N185'],
 'BCZ8xnF3Sb6jOsPMeja4WQ==': ['G629'],
 'BCe7vxpdQd+7exQf6EjkMQ==': ['M1611'],
 'BCgKN1LiSBWi2mX/wxG66g==': [],
 'BEIAmKpUSA6RVaoSaaUh8A==': ['I214'],
 'BEsBdBbySJq5PrksdOiQnA==': ['M19011'],
 'BEtvCIAwQSax8duEN9nUjA==': ['R42', 'M79604', '160357', 'R1031', 'I739'],
 'BFRi+fBmRFGSgGpOe3gWZQ==': [],
 'BFUVgNRlQmqyJNX4GLMXVQ==': ['R55', 'I639'],
 'BGLCug7UQM2xOJ7DVHEtaQ==': [],
 'BGNY9xNXRiSJ6lUFFQ171A==': ['K529'],
 'BGgloBTaS0CyWkwF/ahOnQ==': ['R0602', 'J208'],
 'BGohqfpFQ5SUG0cMbf5Oxw==': ['I4892'],
 'BG7Y4DBiRKCaDgYc7wJGGA==': ['I714'],
 'BH7ogF/OSIeoDRdIq9z4+w==': ['160469'],
 'BIql3XHwTaWu6GpaiQwYPQ==': ['G459', 'K56609', 'R4701', 'I214'],
 'BIxMkURkRq+YXTlcreBXnQ==': ['J40', 'J449'],
 'BJQLKhWzSLut+n/sYZ2mwg==': ['S0011XA'],
 'BKRZRUEGS4W62SC1JccU4g==': ['R1110'],
 'BKuW6WODTV2g3eCXWwRxeg==': ['Z8719', 'R109', 'Z933', 'K56699'],
 'BLR7a4/QTR+qfP2Qmto2dA==': ['M1611'],
 'BMPyC5ZLRb+ZzIytTv2+8g==': ['I480', '45340'],
 'BMeU/zWSSz+LJqrOKGrc6A==': ['D62', 'T45511A', 'Z8679', 'D649', 'Z954'],
 'BM8jyf8lTC+jti7tlHC49g==': ['F329', 'F320'],
 'BNBcu7v7ST+Slz/xMnPw4w==': ['B029'],
 'BOAMWz2zRyaWsGWHq9izBA==': ['D649'],
 'BODnhdoRSsOe7Fzy2GKzPQ==': ['I70213'],
 'BOH153MWSwqT+okcJuen4Q==': [],
 'BOPCXbz3QHK3Vha7w4BQmg==': ['R4182'],
 'BOYQHBZBSeOHvPn4QVROgw==': ['N400'],
 'BOeP8nXISuyAX3BreI9a4Q==': ['E11621', 'R531', 'S81802A', 'N189'],
 'BOnOWqvTRSGzX6RWstSL7w==': ['R040', 'R55'],
 'BOudKLFlRamCjvQJw52LXA==': ['Z09', 'Z23', 'I10'],
 'BQH13KD4TAGxiLRMJqYu7Q==': [],
 'BQMzHt0rSgC6iiCx7vV2zQ==': ['S0990XA'],
 'BQNQLozETCinVgXI1U3TmA==': [],
 'BQP4w16OSCiPwkPunlRj+g==': ['N492'],
 'BQcPJCjKS0W0PtagRB0M7g==': ['I350'],
 'BQwaG3+yRlKcilJ/wArm7g==': ['M1711'],
 'BSG4qk0XQdO/2+fAZhLjVA==': ['J189', 'S72143A'],
 'BSWT8+U7RBipUlr3nttNeQ==': ['K632', 'K5781', 'K5780', 'G8918', 'K5792'],
 'BSiYdBB3S1KQ23vSSYs7Hw==': ['F331'],
 'BT/PT7uvSfG8cBzFe4G42w==': [],
 'BUJ7E9H3QrOUPMHEaVf6Cg==': ['T8131XA', 'C519', 'C512'],
 'BUMehSZbQ7aQVW8oXl/PvQ==': [],
 'BU5pxxYlRC68EXkZ4Rdx5A==': ['R0902'],
 'BVDhhpu7R7q2ok4egafqcQ==': [],
 'BWQ3NH5DQeqmI90b9YUpYQ==': ['J441', 'R079', 'J189'],
 'BWjW1TZ2SA+tlERKamA/Qw==': ['I6523'],
 'BWpXgtRBRqu8wEHQJ5FA+w==': ['I6529', 'I739'],
 'BW8rLyTeR+yEAgHRHOpXKA==': [],
 'BXHwXraCTkGgqd2vgBW5iw==': ['R0789'],
 'BXiFCuo+R7yi3lUHu/a39Q==': ['42731'],
 'BXlIJ/vQRh2XiuqE0yiD/A==': [],
 'BXukPifiRTy7DiHe+PSjsg==': ['S52122A'],
 'BYDqVoRkTtmhW+UAg7ELyA==': ['R54', 'M6281', 'R2681', 'R109'],
 'BYEkXI21SVitiRB/Arj1Hw==': ['M170', 'M1711'],
 'BZy2FsszTuGrraUaay6CpQ==': ['S0101XA', 'L0390'],
 'BZ13SR7TQz+nU2iV3V9ypw==': ['I2510'],
 'BZ9vSTJDTT+AyATkifWTyg==': ['N819', 'R69'],
 'Bafb7Hx+SsKNauihHqLrJQ==': ['S0501XA'],
 'Bb5Vr+A+T9uE/qiVwV0aag==': ['H8110', 'I6784', 'I639'],
 'BcCrXV1LRyuiKfkFD3vG6A==': ['K090'],
 'BcP6CaIUSz2H2ipGZL/bWA==': ['I63312', 'R030', 'G459'],
 'BcP/M2DpQWO/xrYLcejlqA==': ['I509', 'I110', 'I2722', 'M25511'],
 'BdgS5KxSRTKKs02ullpjtw==': ['K56609',
  'Z87438',
  'K560',
  'I2510',
  'Z789',
  'R110',
  'R1084',
  'Z933'],
 'Bd4VXO7sR46UGseIzEQT/g==': ['J189', 'R030', 'R079', 'G459'],
 'BeUiqqrXSnm1qjJLvdD1Cg==': [],
 'BhMAtyOEShGBT+Khryjm5g==': ['R079', 'G459'],
 'BhOUzgRJSAKG80wr6MIfDQ==': ['R102'],
 'BiDiey5JTHup7Ey6GpB9ag==': ['M79604', 'S82116A'],
 'BiDzT0SbTEmYE3hfmroojg==': ['J441', 'R531'],
 'BiJTlJhQS7+Qmzhs2AAQlQ==': ['L03319', 'J449', 'R609', 'R52', 'R531'],
 'Bj8NZa7QTNWw0I7tr8kJGg==': ['D649', 'E876'],
 'Bj/7S20BSRSQDB7VUd3glg==': ['Y040XXA',
  'S022XXA',
  'J449',
  'S02401A',
  'J441',
  'S0230XA'],
 'BkB5TphcQHipmrggNzsH1Q==': [],
 'BkhIXs7BTHq/UOg862CHNA==': ['R42', 'I4891', 'D649', 'K254'],
 'BkzKq5r+Rj+JzMhY3FuOww==': ['I639'],
 'BlXatds4QS6ATwKa+iDmJA==': ['J441'],
 'BlqWJsz/S7+Vz7znX33PUw==': [],
 'BltrTBrRTeuKiZFTYju2pw==': ['J449'],
 'Bl1C4amiQP2/dcqcSbHa8w==': ['K4090'],
 'BmEMLzG/RfKSnNjMVksJpw==': ['W19XXXA'],
 'Bmk2BQBySZyhGrkvmZ131A==': ['R112', 'N179', 'R4182', 'R69', 'E875'],
 'BnMQk8/YTjiv1Wh74rbplw==': [],
 'BoRTEHeaSnOEV+pbhlAssA==': ['M65311'],
 'BpAcr1hfTeygeiqzgIF3Tw==': ['R079'],
 'BpFiHcBOROuj0fbA2HjBZQ==': ['R0602'],
 'BpocGmlMRYS99SQc/0Ri8g==': ['R0602', 'I5033'],
 'BpuglC8DQoSF0wxsDJ/0Zg==': ['R4182',
  'R509',
  'N390',
  'M549',
  'R69',
  'E7220',
  'T8149XA',
  'S72002A',
  'A419'],
 'BqktqXs/RauCRm2/ACaadA==': ['K8590', 'T8130XD', 'G4730', 'E6601', 'I10'],
 'BrC/GbF7QMeXv/obepAosA==': ['K029', 'J988'],
 'BrqGCIxiQOmoPO4kdoXnog==': ['S72012A'],
 'Brsq8dAvReawAldO7VaH/Q==': ['L03116', 'L0390', 'R531'],
 'BsDVIyLbS7G0Hgd9bBS2oA==': ['I5023', 'R0902', 'J111', 'I509', 'R0602'],
 'BsMH5p/DRhyawnDS3L15ng==': ['R0602'],
 'BsQa4q/iR1qBGoP8iXnnZw==': [],
 'BsQrou+FRoaDgpGGCKDQ8A==': [],
 'BsiFvAUGTpyM8mBl4doQFA==': ['I714'],
 'Bs07FV10Rr6BGcrf40oagg==': ['T82111A', 'C4441'],
 'BtLUKUIiTFOKOHE0IHPn7g==': [],
 'Btb043KkSGGk4aodp1XGWw==': ['M5416'],
 'Buh8kmeeTteyCjlpOj/sXA==': [],
 'Bu0uMyEcSISc+gi0arBNgw==': [],
 'BvZf+8U0Q9ywAAhp2z6JVA==': ['G459', 'I639'],
 'Bvb92nVkSdu0/YU2v2W9kA==': ['R531',
  'G8929',
  'S0990XA',
  'N390',
  'F0390',
  'S51012A',
  'R51'],
 'BvnF+3biSSOPAZ5TxWRO1Q==': [],
 'Bv3lNeVbQQeFWWxf2p/Rbw==': ['I63312', 'R202', 'R0789', 'I639'],
 'BwPJ6yP+SY+xCH/VkCN3bw==': ['Z8679', 'Z1211'],
 'BxLE7mKuTVWcHhT3JmhHUw==': ['R4182',
  'A0471',
  'G40209',
  'G912',
  'R32',
  'R197',
  'F310',
  'D72829',
  'R270'],
 'Bx9zBkzxTKOvW6vYzgu9sA==': ['E162'],
 'ByDmqH3hTGO1SnovzAYTBA==': ['G459', 'I639'],
 'BySofp0AQnKAZ/7emYcWKg==': ['K37', 'K35890'],
 'By1Mbo2fQ6CliooVgfs6Zg==': ['T82118A', 'T82118', 'R69', 'R000'],
 'BzeIgWrdRBWbzVmdeq9Daw==': [],
 'Bzh8xsiCTe++mNiFEtgJoQ==': ['R079'],
 'Bzr4ah9kQu2pC/nVvQLfGg==': [],
 'Bz9tfw7BRxKLOSNubZ6LZA==': ['S72001A',
  'R0600',
  '6823',
  'I509',
  'N179',
  'R0602',
  'S72009B',
  'M84754S',
  'E162',
  'M25551'],
 'B0NnJbZATrCMmYFCXe0oZA==': ['J189', 'I110', 'J9610', 'J441'],
 'B0sXSL3RQ+GpjpjUhYZLdQ==': ['M069'],
 'B1G+g/6ASEKaEVoZN8GRLg==': ['S80811A'],
 'B1K5K50+TmS02b5uY2Li2Q==': ['R0602'],
 'B1SmScpQRe275KzKvvSlyg==': ['I2510'],
 'B1hZnrlNTw+1TEy5PMPqAQ==': ['S01311A'],
 'B19hstvxSNiEP0PEPb/OmQ==': ['R300'],
 'B2QDLUH7R8++Xgt7RBXeKA==': ['M170', 'M79609'],
 'B2YKOeNwQ/yMym/7gg0lIA==': ['A419'],
 'B2aEyOlfST2DR7FhNT6/yg==': ['K625'],
 'B3OwHbDNQ7iNodYCwaV/sw==': ['R0789'],
 'B4Ahy0orQA28E7i2rW3Qfg==': ['S161XXA'],
 'B4RLONTTRiqhM71e/4UIkw==': ['I6529'],
 'B4acL0UxQoyb4T0h34/99g==': [],
 'B4uDA08nSt+Ql9EhDjNkPQ==': [],
 'B4uniWWGRy+sRWYidSAL6A==': ['T82198'],
 'B5hV/y+8T/O8AhQbxUMTBg==': ['M1611'],
 'B5nP3NdKRC6VrhD+xsF9Vw==': [],
 'B54FIeh2TyKJFVuB4FdqvA==': ['M654'],
 'B6B2relRQhWRNgHsv+waCg==': [],
 'B6UbeE+bS8eIQp8IX3V0dg==': ['M170', 'M1712', 'M1711'],
 'B6dA7AJkRtSCcivYExxdsg==': ['R079', 'M25551'],
 'B6kSx4GBRNyyJKe77qCcRA==': ['N200', 'R51'],
 'B6kn7HYWRWWIDZoaiWjS1w==': ['N200', 'N390', 'W19', 'N189'],
 'B604VsRNRa2BPQSFUloqdw==': ['J0190'],
 'B7n9F7nsQTicHfWiiGJwgw==': ['S81811A', 'S32010S', 'M545'],
 'B8KFWkk0SC6Dcf3YZDuyKw==': ['J029'],
 'B8TVC5WORZaL8m5Aw3XZgg==': ['I10'],
 'B8qqHQ2cQgqpLxC8S5b01A==': ['R1011'],
 'B81+2sw4Riez6ZfSzsmnUQ==': ['S52501A', 'S72421', 'S52571A'],
 'B9lQz7TITq6M27fvePknhw==': ['I714'],
 'B90/pz6dS+C657P3o7uuXg==': [],
 'B+Pil+ydTAWDEEcpN2Zggw==': ['J189',
  'R05',
  'J45901',
  'J441',
  'D72829',
  'J45909',
  'I10'],
 'B/TSmCyhT+q5i5vtkPHcFw==': ['J441', 'M7989', 'I130'],
 'B/VODkR7Rv6OtpCgCGKNCQ==': ['J189',
  'I4891',
  'N179',
  'R0602',
  'J45901',
  'E875',
  'K5900',
  'R55',
  'E1165',
  'A419',
  'I10'],
 'B/ZgpFK7QAKw6dHjYtA7Qg==': [],
 'CARgh9NRRsWFEVtlmzOtpQ==': ['M1711'],
 'CAoSVjPsT7CYML/12M2tJg==': ['V892XXA', 'K432', 'R4182'],
 'CAwMmVjoSLuz19sdkylq+A==': ['R202'],
 'CA3TaYrjQqK/dhKHGNm4pg==': ['S92511A'],
 'CBnuOPIAQeicqkgReUJyqg==': ['D509'],
 'CCPvvo+zSjuJcdTRqVbFlA==': [],
 'CClHCXY0QW+apPlg8VmIrg==': ['M6281', 'E8352', 'R531'],
 'CC2+AtFQQKiRLMbV1aS6TA==': [],
 'CDnf+qpjSY+5hwF+mnW7Jw==': ['S066X0A'],
 'CD/Lq8RPS5qXonoudpkevQ==': ['R079', 'I480', 'I2510'],
 'CEPmR9qJSEOL3RbFxyZk2Q==': ['R0600', 'K5900', 'J9620'],
 'CHFcU83fRFC3gE3Wg5Q3kQ==': ['E1165'],
 'CHNxCPd/RWKqRnkPL+FO+Q==': [],
 'CHx1TE7OQGGr8OP+sigAtA==': [],
 'CH3ldz+yTjibsJ+qpYUI0g==': ['R6889', 'D369'],
 'CH9uECX7TxCMVRhYaXPTMA==': [],
 'CIGCbagST4uFZ2MvEje1XQ==': ['N179',
  'R4182',
  'T8089XA',
  'E162',
  'K922',
  'R5383',
  'D649',
  'R197',
  'E11649',
  'D689',
  'S301XXA',
  'R58',
  'T383X1'],
 'CIIWewX5SvqNG9yzk9qVcg==': [],
 'CJduDbfSQZuiGb4/Uswvkg==': ['R05'],
 'CKZw4iUEQaangU06DSKpIg==': ['G4733', 'J8410'],
 'CKk+b+NlQB22+g8l5LJIXQ==': ['R55', 'R109'],
 'CKznS6vCTpOHj/w25+arHQ==': ['B9620',
  'W19XXXA',
  'S72102S',
  'N179',
  'I951',
  'R509',
  'M25559',
  'N390',
  'N189',
  'E875',
  'R55',
  'A419'],
 'CLzUdpknQnycLxY81BMKVw==': ['78904', 'K1120'],
 'CMKMYfKzQQ2kgBmRMKb8Rg==': ['R079'],
 'CMrp/pvfSJiFCvtm8PUvRQ==': ['R109', 'K56609'],
 'CM66e737TSCbhtwhU4QdTA==': ['L0390', 'L02416', 'A419'],
 'COzO9a2LSAmFB/wTB3HuYw==': [],
 'CO1/wEkVQeW+SvsO94ErNw==': [],
 'CQT2bwbYRzi/tb5xfrOTYA==': [],
 'CRdTfX8dTUa2Y2T7XuFQNA==': ['R945', 'K8080', 'J9601', 'G43A1', 'K449'],
 'CReG7jE1SG+bJh9c60Wc3A==': ['J189', 'M25511'],
 'CRnK9XzrRuez4JW3zM+ZSg==': ['H6693'],
 'CR0WXMiFRMCimzMClVdlxw==': ['I482', 'R296', 'Z720', 'E785', 'I10'],
 'CSTxYFGLSweWrjnaBPYJmA==': ['I5042', 'I2510'],
 'CTZN1pFfTEavnQpC+qU8MA==': ['S32502A'],
 'CTi2xfzhTzKTQ+qbyGrPYA==': ['R911', 'L139'],
 'CT6CUVTvTyK1rgBkVFNTFg==': ['R918', 'N840'],
 'CUcmHG4NR2i/Gg+zc+TpOg==': ['M1712', 'M1711'],
 'CVQqJZ3dT/m7nARbZhE6kg==': ['M1711'],
 'CV5z3Ot+Tgywo3L4kQUCfA==': ['L97529', 'L02612'],
 'CWBfFSgsR5mUf98+oEMTQw==': ['K56609'],
 'CWQfCeDORb+f6O1WlF14zA==': ['K529'],
 'CW/z6nkySs24tsVXFSF2Fg==': [],
 'CX2zr59ZTqCMPqo94OsiwQ==': ['142'],
 'CX3SW8+6RCi8os2bp3elTg==': [],
 'CZEHye1JSe2LqAbPjpYXog==': [],
 'CZ2HpUs4Swa4MdCjF/RioQ==': [],
 'CaM6UZvZTK+NRt3GhanvRQ==': ['S63281A', 'S62609A'],
 'CavMtm0eSMawRDZkRv8Bag==': ['K529', 'R1110'],
 'Ca2LLw29Qy6U84EKhJmuzA==': ['R1084'],
 'CbQJffuOTxmHekqJL0udPQ==': ['K56609', 'M961', 'S0101XA', 'K56690', 'M545'],
 'CbVMHVKnSKiFBoQtejz4dA==': ['R002', 'I4891', 'I509', 'I480', 'I503'],
 'CbkMlMD7S1mKLOfGlOlduw==': ['R1031', 'M19012', 'N3090'],
 'CcKTxG7bThiGf9zzRH8SfA==': ['M170', 'M25561'],
 'Cccw3tuIStW23uAp/yyshA==': ['M19011', 'M25511'],
 'CcczH5wxQT6FyHE2sI1fWA==': ['M79609', 'M1611', 'K5700'],
 'Cc3qVQLbS+yA1LETqUk82g==': ['M1711'],
 'CdLUeloPTjCIijZ4OW/mmQ==': ['J209'],
 'Cdc+vN97TbOpmhpk4dwIKQ==': ['40626'],
 'CdvgqqiySo2vppoPqQ9zMA==': ['R6881', 'R310'],
 'CeMXSgFiToWs7DnpryOL0A==': ['R4701',
  'R4182',
  'G459',
  'I639',
  'R54',
  'E1165'],
 'CeOf9CRCTLS55YCk+E4FrQ==': [],
 'CeuSSOJSQGiv2bAXP0jaOg==': ['Y840', 'I350'],
 'CeyzwhQMR4ym89qX+esAYg==': ['S52502A', 'R031'],
 'Ce6oaxRJSQ2dHX2JNDU4Og==': [],
 'CfPZXbaoRYGnLf8BzA8nNw==': ['J705'],
 'CffAl7kzTHuhC6xirMDTuA==': [],
 'Cfyi0skWSHSEic4UoEMJmw==': ['R42', 'I4891'],
 'CgSP30qzSXuHsiWg7Wapmw==': ['R739', 'E039'],
 'Cgp7bDohR6e9fKUR+eExjA==': ['M1612', 'M1611', 'I10'],
 'ChKq+OyZQuK/s02Mno9sjQ==': ['R0789', 'R001'],
 'Chjqs+rgSXKAfodIPvLGag==': ['J189',
  'J9600',
  'I213',
  'R6521',
  'K668',
  'G7001'],
 'Ch3MQ1PZR9KFFl8sW63+Rg==': [],
 'Ch64rSz6SKClRCHwvoXQ6g==': ['R5383', 'E860', 'S7001XA'],
 'CjMudfWjRiiEoK4tFKQIBQ==': ['R079', 'K85', 'R9439', 'K8590'],
 'CkFtL7ORQHuPnTmR/7tMjw==': [],
 'CkQMGif+SVaWg5MrZOUZhg==': [],
 'CkWogN7qTXCz77COE6k7UA==': ['4592'],
 'ClPahA4vRO2QkwFMbhKadg==': ['R109'],
 'CmPMaLB8TSezRorNMTF2nw==': ['R54', 'R109', 'K52832', 'J159'],
 'CmvwiwwtT56BIyz2kYq51g==': [],
 'CmzpLCADRJWo/uwxCksjpQ==': ['K047'],
 'Cm2+cFgSSOS/Uvuuh2nnTQ==': ['J069'],
 'Cm+BZvwNQbyLVdkolOQFKg==': [],
 'CoVv6DFZQI2zWfFGW3hWhg==': ['G8221'],
 'CpZm74B2QXKpv89pB6v0wQ==': ['I6523'],
 'CpdHw2Z6RCGBIAr0v9laaw==': [],
 'CqTtmdZaSiOH0XjFAYTklg==': ['R6889', 'K56699'],
 'Cq0UxLiZQu6koMgBHl2xjw==': ['R1110'],
 'Cq2vp5OGT2OMNpFbWHq41A==': ['M25511'],
 'CrjGUjArQweOK7x7i2UfwA==': ['G8918', 'K432'],
 'CsLNYVocTHCrEe+aiY5fZw==': ['I509'],
 'CsTXkPdkT8SZy0xKqbiUSA==': ['M1711'],
 'CsWIVdHRSTeCNmB6acxbKg==': [],
 'CscUCR90TqKJIlosqqH6gQ==': ['I200', 'C189', 'K922'],

We obbserve that the most of values for `days_to_prev_admission` is null, see below.

In [147]:
df1['days_to_prev_admission'].value_counts(dropna=False)

NaN       14903
0.0         677
5.0         203
4.0         195
6.0         194
          ...
888.0         1
1004.0        1
860.0         1
988.0         1
1031.0        1
Name: days_to_prev_admission, Length: 849, dtype: int64

In [148]:
df1['admission_date']=pd.to_datetime(df1['admission_date'])
df1['nth_visit']=df1.groupby('member_id')['admission_date'].rank(method='first')
df1['nth_visit']=df1['nth_visit'].astype(int)
df1.head(3)

,member_id,admission_date,discharge_date,admission_type,icd_code,is_readmission,er_to_inp_admission_transfer,days_to_prev_admission,visit_duration,visit_duration_updated,nth_visit
0,AAoq6W9QR0G/kOfNZnoCPg==,2018-04-03,2018-04-03 00:00:00,OTH,NaN,No,N,NaN,0,1,1
1,AAoq6W9QR0G/kOfNZnoCPg==,2018-06-04,2018-06-04 00:00:00,OTH,NaN,No,N,62.0,0,1,2
2,AAoq6W9QR0G/kOfNZnoCPg==,2018-06-18,2018-06-18 00:00:00,OTH,NaN,No,N,14.0,0,1,3

Next we we will drop the columns that we will not consider for our model.

In [149]:
df1.drop(['admission_date', 'discharge_date', 'icd_code'], axis=1, inplace=True)
df1.head()

,member_id,admission_type,is_readmission,er_to_inp_admission_transfer,days_to_prev_admission,visit_duration,visit_duration_updated,nth_visit
0,AAoq6W9QR0G/kOfNZnoCPg==,OTH,No,N,NaN,0,1,1
1,AAoq6W9QR0G/kOfNZnoCPg==,OTH,No,N,62.0,0,1,2
2,AAoq6W9QR0G/kOfNZnoCPg==,OTH,No,N,14.0,0,1,3
3,AAoq6W9QR0G/kOfNZnoCPg==,OTH,No,N,115.0,0,1,4
4,AAoq6W9QR0G/kOfNZnoCPg==,OTH,No,N,22.0,0,1,5

In [150]:
df1_duplicates=df1[df1.duplicated()]
df1_duplicates # check duplicates

Empty DataFrame
Columns: [member_id, admission_type, is_readmission, er_to_inp_admission_transfer, days_to_prev_admission, visit_duration, visit_duration_updated, nth_visit]
Index: []

### 2.7.2 Disease Data<a id='2.7.2_Disease_Data'></a>

In [151]:
df2.head()

,member_id,year_of_service,icd_code,icd_chronic_or_acute,hcc_code,hcc_chronic_or_acute
0,AAHLhKW7RYOEQIemWrh/1w==,2018,I739,Chronic,108.0,Chronic
1,AAHLhKW7RYOEQIemWrh/1w==,2018,M545,Unknown,NaN,NaN
2,AAHLhKW7RYOEQIemWrh/1w==,2019,N183,Chronic,138.0,Chronic
3,AAHLhKW7RYOEQIemWrh/1w==,2019,E6601,Chronic,22.0,Chronic
4,AAHLhKW7RYOEQIemWrh/1w==,2019,J8410,Chronic,112.0,Chronic

In [152]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1022161 entries, 0 to 1022160
Data columns (total 6 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   member_id             1022161 non-null  object
 1   year_of_service       1022161 non-null  int64
 2   icd_code              1022154 non-null  object
 3   icd_chronic_or_acute  1022161 non-null  object
 4   hcc_code              320286 non-null   float64
 5   hcc_chronic_or_acute  320286 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 46.8+ MB

In [153]:
df2.nunique()

member_id               37071
year_of_service             3
icd_code                12959
icd_chronic_or_acute        3
hcc_code                   68
hcc_chronic_or_acute        2
dtype: int64

We have some records from 2021 besides 2018 and 2019, see below. Since our analysis is about 2018 and 2019 only, we will ignore the records with the year 2021.

In [154]:
df2['year_of_service'].unique()

array([2018, 2019, 2021])

In [155]:
df2=df2[df2['year_of_service']< 2021] # eliminate records from 2021
df2['year_of_service'].unique()

array([2018, 2019])

Also, we will drop `year_of_service` column all together since we will not consider the date and time in our model.

In [156]:
df2.drop(['year_of_service'], axis=1, inplace=True)
df2.head() # check the update

,member_id,icd_code,icd_chronic_or_acute,hcc_code,hcc_chronic_or_acute
0,AAHLhKW7RYOEQIemWrh/1w==,I739,Chronic,108.0,Chronic
1,AAHLhKW7RYOEQIemWrh/1w==,M545,Unknown,NaN,NaN
2,AAHLhKW7RYOEQIemWrh/1w==,N183,Chronic,138.0,Chronic
3,AAHLhKW7RYOEQIemWrh/1w==,E6601,Chronic,22.0,Chronic
4,AAHLhKW7RYOEQIemWrh/1w==,J8410,Chronic,112.0,Chronic

We observe that more than 68% of `icd_chronic_or_acute` is null (entered as 'Unknown') and the rest of the values are acute except 2 of them, see below. The column `hcc_chronic_or_acute` is NaN whenever `icd_chronic_or_acute` is 'Unknown'. Also we have 2584 (approximately 0.002 % of the total) records where `icd_chronic_or_acute` is 'Chronic' but `hcc_chronic_or_acute` is 'Acute'. We will not make any changes on these records since we have only a few of them. We will eliminate `hcc_chronic_or_acute` column all together and include only `icd_chronic_or_acute` for these reasons.

In [157]:
df2['icd_chronic_or_acute'].value_counts()

Unknown    698326
Chronic    320828
Acute           2
Name: icd_chronic_or_acute, dtype: int64

In [158]:
df2[df2['icd_chronic_or_acute']=='Unknown']['hcc_chronic_or_acute'].value_counts()

Series([], Name: hcc_chronic_or_acute, dtype: int64)

In [159]:
df2[df2['icd_chronic_or_acute']=='Chronic']['hcc_chronic_or_acute'].value_counts()

Chronic    317700
Acute        2584
Name: hcc_chronic_or_acute, dtype: int64

In [160]:
df2[df2['icd_chronic_or_acute']=='Acute']['hcc_chronic_or_acute'].value_counts()

Chronic    2
Name: hcc_chronic_or_acute, dtype: int64

See the distribution of the values of `hcc_chronic_or_acute` in the following.

In [161]:
df2['icd_chronic_or_acute'].value_counts()

Unknown    698326
Chronic    320828
Acute           2
Name: icd_chronic_or_acute, dtype: int64

In [162]:
df2.drop(['hcc_chronic_or_acute'], axis=1, inplace=True)
df2.head(3) # check the update

                  member_id icd_code icd_chronic_or_acute  hcc_code
0  AAHLhKW7RYOEQIemWrh/1w==     I739              Chronic     108.0
1  AAHLhKW7RYOEQIemWrh/1w==     M545              Unknown       NaN
2  AAHLhKW7RYOEQIemWrh/1w==     N183              Chronic     138.0

Our ultimate goal is to predict hcc codes assigned to each patient. However hcc codes are determined based on icd codes. We will drop `hcc_code` column not to have any issue caused by the correlation. Once we determine the icd codes we will retrieve hcc codes using the icd codes.

In [163]:
df2.drop(['hcc_code'], axis=1, inplace=True)
df2.head() # check the update

                  member_id icd_code icd_chronic_or_acute
0  AAHLhKW7RYOEQIemWrh/1w==     I739              Chronic
1  AAHLhKW7RYOEQIemWrh/1w==     M545              Unknown
2  AAHLhKW7RYOEQIemWrh/1w==     N183              Chronic
3  AAHLhKW7RYOEQIemWrh/1w==    E6601              Chronic
4  AAHLhKW7RYOEQIemWrh/1w==    J8410              Chronic

In [164]:
df2_duplicates=df2[df2.duplicated()]
df2_duplicates.head() # ??? these are not duplicates?? check the duplicates

                   member_id icd_code icd_chronic_or_acute
5   AAHLhKW7RYOEQIemWrh/1w==     I739              Chronic
61  AAKW/PKhRva+ZS2B4s0AmA==     M792              Unknown
64  AAKW/PKhRva+ZS2B4s0AmA==    R5383              Unknown
66  AAKW/PKhRva+ZS2B4s0AmA==   I25810              Unknown
67  AAKW/PKhRva+ZS2B4s0AmA==    E1142              Chronic

In [165]:
df2[df2['member_id']=='AAHLhKW7RYOEQIemWrh/1w==']

                  member_id icd_code icd_chronic_or_acute
0  AAHLhKW7RYOEQIemWrh/1w==     I739              Chronic
1  AAHLhKW7RYOEQIemWrh/1w==     M545              Unknown
2  AAHLhKW7RYOEQIemWrh/1w==     N183              Chronic
3  AAHLhKW7RYOEQIemWrh/1w==    E6601              Chronic
4  AAHLhKW7RYOEQIemWrh/1w==    J8410              Chronic
5  AAHLhKW7RYOEQIemWrh/1w==     I739              Chronic
6  AAHLhKW7RYOEQIemWrh/1w==    L4050              Chronic

### 2.7.3 Labs Data<a id='2.7.3_Labs_Data'></a>

In [167]:
df3.head()

,member_id,date_of_service,loinc_code,performed_test_name,abnormal_code,result_value,normal_low_value_numeric,normal_high_value_numeric
0,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,13457-7,LIPID PANEL WITH REFLEX TO DIRECT LDL,NaN,85000.0,0.0,99.0
1,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,17861-6,CALCIUM,NaN,9600.0,8.6,10.4
2,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,33914-3,EGFR NON-AFR. AMERICAN,NaN,91000.0,60.0,0.0
3,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,4544-3,HEMATOCRIT,NaN,42800.0,35.0,45.0
4,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,713-8,EOSINOPHILS,NaN,6800.0,0.0,0.0

In [168]:
df3.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5918612 entries, 0 to 5918611
Data columns (total 8 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   member_id                  5918612 non-null  object
 1   date_of_service            5918612 non-null  object
 2   loinc_code                 5918612 non-null  object
 3   performed_test_name        5915984 non-null  object
 4   abnormal_code              993458 non-null   object
 5   result_value               4977832 non-null  float64
 6   normal_low_value_numeric   5123901 non-null  float64
 7   normal_high_value_numeric  5257167 non-null  float64
dtypes: float64(3), object(5)
memory usage: 361.2+ MB

In [169]:
df3.nunique()

member_id                    24483
date_of_service                706
loinc_code                    3078
performed_test_name           5895
abnormal_code                   26
result_value                 15861
normal_low_value_numeric       365
normal_high_value_numeric      613
dtype: int64

We will convert the data type of `date_of_service` into appropriate format.

In [170]:
df3['date_of_service']=pd.to_datetime(df3['date_of_service'])

In [171]:
df3.info(verbose=True, null_counts=True) #check the update

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5918612 entries, 0 to 5918611
Data columns (total 8 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   member_id                  5918612 non-null  object
 1   date_of_service            5918612 non-null  datetime64[ns]
 2   loinc_code                 5918612 non-null  object
 3   performed_test_name        5915984 non-null  object
 4   abnormal_code              993458 non-null   object
 5   result_value               4977832 non-null  float64
 6   normal_low_value_numeric   5123901 non-null  float64
 7   normal_high_value_numeric  5257167 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 361.2+ MB

We check years of services below. We have records only from 2018 and 2019 as we wish.

In [172]:
pd.DatetimeIndex(df3['date_of_service']).year.unique()

Int64Index([2018, 2019], dtype='int64', name='date_of_service')

`loinc_code` column contains codes for the performed laboratory tests. `performed_test_name`  column contains the names of the performed laboratory tests. We will drop `performed_test_name` column since `loinc_code` is enough to encode the performed lab tests.

In [173]:
df3.drop(['performed_test_name'], axis=1, inplace=True)
df3.head(3) # check the update

,member_id,date_of_service,loinc_code,abnormal_code,result_value,normal_low_value_numeric,normal_high_value_numeric
0,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,13457-7,NaN,85000.0,0.0,99.0
1,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,17861-6,NaN,9600.0,8.6,10.4
2,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,33914-3,NaN,91000.0,60.0,0.0

Now notice that the result values are significantly bigger than both normal low and normal high values. The following cell is justifying that this is a trend overall; the average of `result_value` column is 1,312,4710 however the averages of `normal_low_value_numeric` and `normal_high_value_numeric` are ~54.5 and ~213.7, respectively. 

* After some careful examination we saw that each result value multiplied by 1000 before entered which caused the issue. We will divide each result value by 1000 to correct this abnormality.

In [174]:
df3.describe()

       result_value  normal_low_value_numeric  normal_high_value_numeric
count  4.977832e+06              5.123901e+06               5.257167e+06
mean   1.312471e+07              5.455767e+01               2.137437e+02
std    2.868435e+10              3.353208e+02               1.960277e+03
min   -2.200000e+03              0.000000e+00               0.000000e+00
25%    4.500000e+03              0.000000e+00               1.035000e+00
50%    1.970000e+04              6.000000e+00               1.080000e+01
75%    8.300000e+04              3.200000e+01               9.900000e+01
max    6.399757e+13              2.500000e+04               9.999990e+05

In [175]:
df3['result_value']=df3['result_value']/1000.0
df3.head(3) # check the update

,member_id,date_of_service,loinc_code,abnormal_code,result_value,normal_low_value_numeric,normal_high_value_numeric
0,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,13457-7,NaN,85.0,0.0,99.0
1,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,17861-6,NaN,9.6,8.6,10.4
2,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,33914-3,NaN,91.0,60.0,0.0

We will examine the negative values entered for `result_value`, see the next cell.

In [176]:
df3[df3['result_value']<0].head(3)

,member_id,date_of_service,loinc_code,abnormal_code,result_value,normal_low_value_numeric,normal_high_value_numeric
1770719,gHYgm1//T+SEMkqmbG4hvg==,2018-08-17,73561-3,L,-2.2,0.0,0.0
1770820,gHYgm1//T+SEMkqmbG4hvg==,2019-02-15,73561-3,NaN,-1.5,0.0,0.0
1972962,iRK3hodoSHKa8WhgdOrjSA==,2018-07-17,73561-3,NaN,-0.8,0.0,0.0

In [177]:
df3[df3['result_value']<0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 1770719 to 5903684
Data columns (total 7 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   member_id                  16 non-null     object
 1   date_of_service            16 non-null     datetime64[ns]
 2   loinc_code                 16 non-null     object
 3   abnormal_code              3 non-null      object
 4   result_value               16 non-null     float64
 5   normal_low_value_numeric   13 non-null     float64
 6   normal_high_value_numeric  15 non-null     float64
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 1.0+ KB

In [178]:
df3[df3['result_value']<0]['loinc_code'].value_counts()

73561-3    15
64084-7     1
Name: loinc_code, dtype: int64

Previous two cells shows that we have 16 records where result value is a negative number. In all these records normal low and high values are not provided. Most of these records (15 out of 16) are lab test '73561-3' which has [-2,2] as its normal range of values. The remaining record belongs to lab test '64084-7' which must be higher than 0.5 to be considered as normal. We will fill the values accordingly, see the next cell.

In [179]:
df3.loc[df3['loinc_code']=='73561-3','normal_low_value_numeric']=-2.0
df3.loc[df3['loinc_code']=='73561-3','normal_high_value_numeric']=2.0 # whether the result value is negative or not
df3.loc[df3['loinc_code']=='64084-7','normal_low_value_numeric']=0.5
df3[(df3['loinc_code']=='73561-3') | (df3['loinc_code']=='64084-7')].head() # check the update

,member_id,date_of_service,loinc_code,abnormal_code,result_value,normal_low_value_numeric,normal_high_value_numeric
17342,ORbIz1E4TFemyCvm7xl++w==,2019-10-28,64084-7,NaN,0.00,0.5,0.0
39165,OhpzMiWgReGqqZnFhq+cdg==,2018-12-27,64084-7,NaN,0.00,0.5,0.0
39171,OhpzMiWgReGqqZnFhq+cdg==,2018-12-27,64084-7,NaN,0.01,0.5,0.0
47910,OoBZBWT+QmCare0g+wFYyw==,2018-07-19,64084-7,NaN,0.38,0.5,0.0
71885,O55M4HBYSRCh2jilMoUyWQ==,2019-12-19,64084-7,,0.04,0.5,NaN

In [180]:
df3['abnormal_code'].unique()

array([nan, 'H', 'L', '     ', 'H    ', 'L    ', 'A', 'A    ', '<', '-',
       'HH', '>', 'LL', '<    ', 'Y', '>    ', '+', 'N    ', 'Y    ',
       'NORMA', 'HIGH ', 'BELOW', 'ABOVE', 'N', '+    ', '*    ', '-    '],
      dtype=object)

Now notice that `abnormal_code` has values that are not consistent, see the previous cell. We will update the values to 'H' and 'L' accordingly. We will also keep a copy of the column with the original values.

In [181]:
df3['abnormal_code_updated']=df3['abnormal_code']
df3.head() # check the update

,member_id,date_of_service,loinc_code,abnormal_code,result_value,normal_low_value_numeric,normal_high_value_numeric,abnormal_code_updated
0,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,13457-7,NaN,85.0,0.0,99.0,NaN
1,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,17861-6,NaN,9.6,8.6,10.4,NaN
2,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,33914-3,NaN,91.0,60.0,0.0,NaN
3,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,4544-3,NaN,42.8,35.0,45.0,NaN
4,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,713-8,NaN,6.8,0.0,0.0,NaN

In [182]:
list_values=df3['abnormal_code'].unique()
lst=[]
for i in list_values:
    lst.append((i, len(str(i))))
lst

[(nan, 3),
 ('H', 1),
 ('L', 1),
 ('     ', 5),
 ('H    ', 5),
 ('L    ', 5),
 ('A', 1),
 ('A    ', 5),
 ('<', 1),
 ('-', 1),
 ('HH', 2),
 ('>', 1),
 ('LL', 2),
 ('<    ', 5),
 ('Y', 1),
 ('>    ', 5),
 ('+', 1),
 ('N    ', 5),
 ('Y    ', 5),
 ('NORMA', 5),
 ('HIGH ', 5),
 ('BELOW', 5),
 ('ABOVE', 5),
 ('N', 1),
 ('+    ', 5),
 ('*    ', 5),
 ('-    ', 5)]

In [183]:
df3['abnormal_code'].replace({'H    ': 'H', 'ABOVE': 'H', 'HIGH ':'H', '>    ': 'H', 'HH': 'H', '>': 'H', '+': 'H', '+    ': 'H'}, inplace=True)

df3['abnormal_code'].replace({'L    ': 'L', 'BELOW': 'L', '<    ': 'L', 'LL': 'L', '<': 'L', '-': 'L', '-    ': 'L'}, inplace=True)

df3['abnormal_code'].replace({'A    ': 'ABNORM', 'A': 'ABNORM', 'Y    ': 'ABNORM', 'Y': 'ABNORM', '*    ': 'ABNORM'}, inplace=True)

df3['abnormal_code'].replace({'NORMA': 'NORM', 'N': 'NORM', 'N    ': 'NORM'}, inplace=True)

df3['abnormal_code'].unique()

array([nan, 'H', 'L', '     ', 'ABNORM', 'NORM'], dtype=object)

We observed that some of the records where `abnormal_code` entered as a string with 5 white space are in fact results that must be entered as normal and some others can't be determined since either lower bound or the upper bound is null. We will not update any of these values to keep the column with the original values. However for the sake of readability we will change this string to 'DNE'  We will add another column called `abnormal_code_updated` where we update values accordingly.

In [184]:
df3[df3['abnormal_code']=='     '].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239541 entries, 55 to 5917885
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   member_id                  239541 non-null  object
 1   date_of_service            239541 non-null  datetime64[ns]
 2   loinc_code                 239541 non-null  object
 3   abnormal_code              239541 non-null  object
 4   result_value               193370 non-null  float64
 5   normal_low_value_numeric   108243 non-null  float64
 6   normal_high_value_numeric  108199 non-null  float64
 7   abnormal_code_updated      239541 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 16.4+ MB

In [185]:
a=df3[df3['abnormal_code']=='     ']
a[(a['normal_low_value_numeric'].isna()) & (a['normal_high_value_numeric'].isna())].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 131294 entries, 55 to 5917883
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   member_id                  131294 non-null  object
 1   date_of_service            131294 non-null  datetime64[ns]
 2   loinc_code                 131294 non-null  object
 3   abnormal_code              131294 non-null  object
 4   result_value               85407 non-null   float64
 5   normal_low_value_numeric   0 non-null       float64
 6   normal_high_value_numeric  0 non-null       float64
 7   abnormal_code_updated      131294 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 9.0+ MB

In [186]:
a=df3[df3['abnormal_code_updated']=='     ']
a[(a['normal_low_value_numeric'].notna()) & (a['normal_high_value_numeric'].notna())].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 108195 entries, 110 to 5917885
Data columns (total 8 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   member_id                  108195 non-null  object
 1   date_of_service            108195 non-null  datetime64[ns]
 2   loinc_code                 108195 non-null  object
 3   abnormal_code              108195 non-null  object
 4   result_value               107920 non-null  float64
 5   normal_low_value_numeric   108195 non-null  float64
 6   normal_high_value_numeric  108195 non-null  float64
 7   abnormal_code_updated      108195 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 7.4+ MB

In [187]:
a=df3[df3['abnormal_code_updated']=='     ']
a[(a['normal_low_value_numeric'].notna()) & (a['normal_high_value_numeric'].notna())].head()

,member_id,date_of_service,loinc_code,abnormal_code,result_value,normal_low_value_numeric,normal_high_value_numeric,abnormal_code_updated
110,OEQjkMBoTqK7YmVc02NQDQ==,2019-04-11,17861-6,,9.70,8.6,10.40,
111,OEQjkMBoTqK7YmVc02NQDQ==,2019-04-11,777-3,,228.00,140.0,400.00,
116,OEQjkMBoTqK7YmVc02NQDQ==,2019-04-11,1751-7,,4.20,3.6,5.10,
117,OEQjkMBoTqK7YmVc02NQDQ==,2019-04-11,3016-3,,4.11,0.4,4.50,
118,OEQjkMBoTqK7YmVc02NQDQ==,2019-04-11,2160-0,,0.68,0.5,0.99,

In [188]:
df3.loc[(df3['abnormal_code']=='     '),'abnormal_code']='DNE'
df3['abnormal_code'].unique() # check the update

array([nan, 'H', 'L', 'DNE', 'ABNORM', 'NORM'], dtype=object)

In [189]:
df3['abnormal_code'].value_counts(dropna=False)

NaN       4925154
H          443730
L          249975
DNE        239541
ABNORM      59967
NORM          245
Name: abnormal_code, dtype: int64

In [190]:
df3['abnormal_code_updated']=df3['abnormal_code']

If a result value lies in the reference interval we labelled it as 'NORM' in the `abnormal_code_updated`. Similarly, a result value is labelled as 'L' ('H') if it is strictly smaller (bigger) than the lower bound (upper bound).

In [191]:
df3.loc[(df3['normal_low_value_numeric']<= df3['result_value']) & (df3['result_value']<=df3['normal_high_value_numeric']),'abnormal_code_updated']='NORM'

df3.loc[(df3['result_value']< df3['normal_low_value_numeric']), 'abnormal_code_updated']='L'

df3.loc[(df3['normal_high_value_numeric']!=0.0) & (df3['result_value']> df3['normal_high_value_numeric']), 'abnormal_code_updated']='H'

In [192]:
df3['abnormal_code_updated'].value_counts(dropna=False)

NORM      3378798
NaN       1653917
H          443858
L          250496
DNE        131583
ABNORM      59960
Name: abnormal_code_updated, dtype: int64

Now notice that we have have no way of knowing the actual abnormal code for the remaining records entered as DNE. So we will convert them into null.

In [193]:
df3.loc[df3['abnormal_code_updated']=='DNE', 'abnormal_code_updated']=np.nan

In [194]:
df3['abnormal_code_updated'].value_counts(dropna=False)

NORM      3378798
NaN       1785500
H          443858
L          250496
ABNORM      59960
Name: abnormal_code_updated, dtype: int64

In [195]:
df3.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5918612 entries, 0 to 5918611
Data columns (total 8 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   member_id                  5918612 non-null  object
 1   date_of_service            5918612 non-null  datetime64[ns]
 2   loinc_code                 5918612 non-null  object
 3   abnormal_code              993458 non-null   object
 4   result_value               4977832 non-null  float64
 5   normal_low_value_numeric   5124027 non-null  float64
 6   normal_high_value_numeric  5257167 non-null  float64
 7   abnormal_code_updated      4133112 non-null  object
dtypes: datetime64[ns](1), float64(3), object(4)
memory usage: 361.2+ MB

Next, we will copy `abnormal_code_updated`  and update the values abnormal vs normal. If a value is 'H', or 'L' it will be updated to 'ABNORM'.

In [196]:
df3['abnormal_vs_normal']=df3['abnormal_code_updated']
df3.head() #check the update

,member_id,date_of_service,loinc_code,abnormal_code,result_value,normal_low_value_numeric,normal_high_value_numeric,abnormal_code_updated,abnormal_vs_normal
0,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,13457-7,NaN,85.0,0.0,99.0,NORM,NORM
1,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,17861-6,NaN,9.6,8.6,10.4,NORM,NORM
2,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,33914-3,NaN,91.0,60.0,0.0,NaN,NaN
3,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,4544-3,NaN,42.8,35.0,45.0,NORM,NORM
4,OEQjkMBoTqK7YmVc02NQDQ==,2018-10-25,713-8,NaN,6.8,0.0,0.0,NaN,NaN

In [197]:
df3['abnormal_vs_normal'].replace({'H': 'ABNORM', 'L': 'ABNORM'}, inplace=True)
df3['abnormal_vs_normal'].value_counts(dropna=False)

NORM      3378798
NaN       1785500
ABNORM     754314
Name: abnormal_vs_normal, dtype: int64

In [198]:
df3.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5918612 entries, 0 to 5918611
Data columns (total 9 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   member_id                  5918612 non-null  object
 1   date_of_service            5918612 non-null  datetime64[ns]
 2   loinc_code                 5918612 non-null  object
 3   abnormal_code              993458 non-null   object
 4   result_value               4977832 non-null  float64
 5   normal_low_value_numeric   5124027 non-null  float64
 6   normal_high_value_numeric  5257167 non-null  float64
 7   abnormal_code_updated      4133112 non-null  object
 8   abnormal_vs_normal         4133112 non-null  object
dtypes: datetime64[ns](1), float64(3), object(5)
memory usage: 406.4+ MB

In [199]:
df3.drop(['date_of_service'], axis=1, inplace=True)
df3.head(3)# check the update

,member_id,loinc_code,abnormal_code,result_value,normal_low_value_numeric,normal_high_value_numeric,abnormal_code_updated,abnormal_vs_normal
0,OEQjkMBoTqK7YmVc02NQDQ==,13457-7,NaN,85.0,0.0,99.0,NORM,NORM
1,OEQjkMBoTqK7YmVc02NQDQ==,17861-6,NaN,9.6,8.6,10.4,NORM,NORM
2,OEQjkMBoTqK7YmVc02NQDQ==,33914-3,NaN,91.0,60.0,0.0,NaN,NaN

We will drop `abnormal_code`,`result_value`,`normal_low_value_numeric`, `normal_high_value_numeric`,`abnormal_vs_normal` since `abnormal_code_updated` will capture the information we need.

In [202]:
df3.drop(['abnormal_code', 'result_value','normal_low_value_numeric', 'normal_high_value_numeric', 'abnormal_vs_normal'], axis=1, inplace=True)
df3.head() # check the update

                  member_id loinc_code abnormal_code_updated
0  OEQjkMBoTqK7YmVc02NQDQ==    13457-7                  NORM
1  OEQjkMBoTqK7YmVc02NQDQ==    17861-6                  NORM
2  OEQjkMBoTqK7YmVc02NQDQ==    33914-3                   NaN
3  OEQjkMBoTqK7YmVc02NQDQ==     4544-3                  NORM
4  OEQjkMBoTqK7YmVc02NQDQ==      713-8                   NaN

### 2.7.4 Patients Data<a id='2.7.4_Patients_Data'></a>

In [203]:
df4.head(5)

,member_id,patient_age,patient_gender,dual_status,insurance_company,insurance_type,pbp_type,county,city
0,AAHLhKW7RYOEQIemWrh/1w==,72,M,DYoOR0bMMk3HRSo8sSPjUw==,GUD2qR6A4Wd2L73mE5cXSw==,0EM/AFr1Il2Z8J30Yadekw==,0EM/AFr1Il2Z8J30Yadekw==,UejZIiyN0zMFVlUbJl9WMw==,JcyeVCRLiLD21PlyRx0v3w==
1,AAKW/PKhRva+ZS2B4s0AmA==,72,M,tMEZlLbu7jT3s3qXZC+gWQ==,rOCadimmYUC//TJHZzkvRg==,0EM/AFr1Il2Z8J30Yadekw==,a85jcyRlCtomarSMXXjFbg==,1S4k4hzgPOiWaL9v6ChejA==,btsrhf68Jq+yI/2V8QTMMw==
2,AAT/v3ExQAyfas8Ov5JevA==,75,F,tMEZlLbu7jT3s3qXZC+gWQ==,rOCadimmYUC//TJHZzkvRg==,0EM/AFr1Il2Z8J30Yadekw==,9Ro3ya9jPvS3mg+7vLpsgg==,1S4k4hzgPOiWaL9v6ChejA==,btsrhf68Jq+yI/2V8QTMMw==
3,AAoq6W9QR0G/kOfNZnoCPg==,62,M,cxTcUuoRUVTg+SSt7OlnXg==,hdbB94EoBNp2gZ5k2t6eLw==,0EM/AFr1Il2Z8J30Yadekw==,9Ro3ya9jPvS3mg+7vLpsgg==,EvFxDbLnPKOa13Yw9vDU4A==,xg5tPYYDxhRt10rlHSQG3A==
4,AAu2+UMHSpK6gVYffGi4pw==,54,F,tMEZlLbu7jT3s3qXZC+gWQ==,rOCadimmYUC//TJHZzkvRg==,0EM/AFr1Il2Z8J30Yadekw==,0EM/AFr1Il2Z8J30Yadekw==,EvFxDbLnPKOa13Yw9vDU4A==,yjYhcMttIqpWhMY2PuP8Sg==

In [204]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26559 entries, 0 to 26558
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   member_id          26559 non-null  object
 1   patient_age        26559 non-null  int64
 2   patient_gender     26559 non-null  object
 3   dual_status        26559 non-null  object
 4   insurance_company  26559 non-null  object
 5   insurance_type     26559 non-null  object
 6   pbp_type           26558 non-null  object
 7   county             26547 non-null  object
 8   city               26552 non-null  object
dtypes: int64(1), object(8)
memory usage: 1.8+ MB

In [205]:
df4.nunique()

member_id            26559
patient_age             83
patient_gender           2
dual_status              9
insurance_company       12
insurance_type           2
pbp_type                10
county                  48
city                   499
dtype: int64

We need to change most values in 'df4' for readability purpose. See below.

In [206]:
df4['dual_status'].unique()

array(['DYoOR0bMMk3HRSo8sSPjUw==', 'tMEZlLbu7jT3s3qXZC+gWQ==',
       'cxTcUuoRUVTg+SSt7OlnXg==', 'D7HF1L7pKm0+yiZHnui7hQ==',
       'K3iVxpF0tRf+h5l85tlfpA==', 'ssNL6tTkjkgJfijNgtfX1Q==',
       'GwdXg8Z44j4sOkS6HTTM3A==', 'MKqEIzoTiCq5E7Rp2PAR0w==',
       'xTNihcc8vr7yvMoWJBWwvA=='], dtype=object)

We will next create some dictionaries for the new values of 'df4', see below.

In [329]:
#-------------------------------------------------------------------------

list_new_values_df4=[]

#-------------------------------------------------------------------------

dict_new_values_dual_status={} 
a=0
for item in df4['dual_status'].unique():
    a=a+1
    dict_new_values_dual_status[item]=str(a)
list_new_values_df4.append(dict_new_values_dual_status)

#-------------------------------------------------------------------------

dict_new_values_insurance_company={}
a=0
for item in df4['insurance_company'].unique():
    a=a+1
    dict_new_values_insurance_company[item]=str(a)
list_new_values_df4.append(dict_new_values_insurance_company)

#-------------------------------------------------------------------------

dict_new_values_insurance_type={}
a=0
for item in df4['insurance_type'].unique():
    a=a+1
    dict_new_values_insurance_type[item]=str(a)
list_new_values_df4.append(dict_new_values_insurance_type)

#-------------------------------------------------------------------------

dict_new_values_pbp_type={}
a=0
for item in df4['pbp_type'].unique():
    a=a+1
    dict_new_values_pbp_type[item]=str(a)
list_new_values_df4.append(dict_new_values_pbp_type)    

#-------------------------------------------------------------------------

dict_new_values_county={}
a=0
for item in df4['county'].unique():
    a=a+1
    dict_new_values_county[item]=str(a)
list_new_values_df4.append(dict_new_values_county)    


#-------------------------------------------------------------------------

dict_new_values_city={}
a=0
for item in df4['city'].unique():
    a=a+1
    dict_new_values_city[item]=str(a)
list_new_values_df4.append(dict_new_values_city)    

#-------------------------------------------------------------------------

#list_new_values_df4

Values of all columns of 'df4' will be updated except `patient_age` and `patient_gender`, see below.

In [208]:
df4['dual_status'].replace(dict_new_values_dual_status, inplace=True)

df4['insurance_company'].replace(dict_new_values_insurance_company, inplace=True)

df4['insurance_type'].replace(dict_new_values_insurance_type, inplace=True)

df4['pbp_type'].replace(dict_new_values_pbp_type, inplace=True)

df4['county'].replace(dict_new_values_county, inplace=True)

df4['city'].replace(dict_new_values_city, inplace=True)

df4.head() # check the update

,member_id,patient_age,patient_gender,dual_status,insurance_company,insurance_type,pbp_type,county,city
0,AAHLhKW7RYOEQIemWrh/1w==,72,M,1,1,1,1,1,1
1,AAKW/PKhRva+ZS2B4s0AmA==,72,M,2,2,1,2,2,2
2,AAT/v3ExQAyfas8Ov5JevA==,75,F,2,2,1,3,2,2
3,AAoq6W9QR0G/kOfNZnoCPg==,62,M,3,3,1,3,3,3
4,AAu2+UMHSpK6gVYffGi4pw==,54,F,2,2,1,1,3,4

Last we will change the name of `patient_age` and `patient_gender`.

In [209]:
df4.rename(columns={'patient_age': 'age', 'patient_gender': 'sex'}, inplace=True)
df4.head(3) # check the update

,member_id,age,sex,dual_status,insurance_company,insurance_type,pbp_type,county,city
0,AAHLhKW7RYOEQIemWrh/1w==,72,M,1,1,1,1,1,1
1,AAKW/PKhRva+ZS2B4s0AmA==,72,M,2,2,1,2,2,2
2,AAT/v3ExQAyfas8Ov5JevA==,75,F,2,2,1,3,2,2

### 2.7.5 Prescriptions Data<a id='2.7.5_Prescriptions_Data'></a>

In [210]:
df5.head(3)

,member_id,date_filled,ndc_number,days_supply,drug_name,metric_quantity,new_or_refill
0,AAHLhKW7RYOEQIemWrh/1w==,2018-01-13,60505013400,60.0,CYCLOSPORINE 100 MG CAPS@100 M,60,N
1,AAHLhKW7RYOEQIemWrh/1w==,2018-01-16,62175013643,90.0,OMEPRAZOLE DR 40 MG CAPS@40 MG,90,N
2,AAHLhKW7RYOEQIemWrh/1w==,2018-02-06,50742013510,90.0,ALLOPURINOL 100 MG TABLE@100 M,90,N

In [211]:
df5.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1740855 entries, 0 to 1740854
Data columns (total 7 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   member_id        1740855 non-null  object
 1   date_filled      1740855 non-null  object
 2   ndc_number       1732568 non-null  object
 3   days_supply      1720363 non-null  float64
 4   drug_name        1738236 non-null  object
 5   metric_quantity  1740855 non-null  int64
 6   new_or_refill    1290968 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 93.0+ MB

In [212]:
df5.nunique()

member_id          26090
date_filled          730
ndc_number         15915
days_supply          360
drug_name          10297
metric_quantity      648
new_or_refill          2
dtype: int64

We convert `date_filled` into datetime dtype. We will also check years of the services to eliminate any year other than 2018 and 2019.

In [213]:
df5['date_filled']=pd.to_datetime(df5['date_filled'])
df5.info() # check the update

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1740855 entries, 0 to 1740854
Data columns (total 7 columns):
 #   Column           Dtype
---  ------           -----
 0   member_id        object
 1   date_filled      datetime64[ns]
 2   ndc_number       object
 3   days_supply      float64
 4   drug_name        object
 5   metric_quantity  int64
 6   new_or_refill    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(4)
memory usage: 93.0+ MB

In [214]:
pd.DatetimeIndex(df5['date_filled']).year.unique()

Int64Index([2018, 2019], dtype='int64', name='date_filled')

In [215]:
df5.describe()

        days_supply  metric_quantity
count  1.720363e+06     1.740855e+06
mean   5.301320e+01     7.891937e+01
std    4.598313e+01     1.815798e+02
min   -5.450000e+02    -7.500000e+03
25%    2.800000e+01     2.800000e+01
50%    4.500000e+01     9.000000e+01
75%    9.000000e+01     9.000000e+01
max    9.990000e+02     2.430000e+04

In [216]:
df5['member_id'].value_counts()

gkCu8pm2RKalgzZod7DsMw==    820
bLFxKbJ4TriTMvxbMK1wLQ==    657
UzDCsdfZRNG3HcQ3H1oJmA==    601
3rtr5jzqTHKCkD+Ibb3MTQ==    585
tqv0K291SoidlMklCGDYGA==    580
                           ...
v2eoN77ERFWO5Cuh3vStJQ==      1
9vh9nm9HQjWsoqrN296LWQ==      1
UJX0aDUERB2qaGw1pTV1+Q==      1
klTi7XDMQKWpgIMZbrmeLg==      1
kHvpoT8fT7eC/m+Rn/+w5A==      1
Name: member_id, Length: 26090, dtype: int64

We will create a column called `drug_quantity_rate` to record `days_supply` divided by `metric_quantity` which will indicate how much medicine given to the patient for each medicine prescribed.

In [217]:
df5['drug_quantity_rate']=df5['days_supply']/df5['metric_quantity']

The column `ndc_number`contains the unique drug id which is sufficient to identify prescribed medicine for each patient. We will drop `drug_name` for that reason. We will also drop `date_filled` column since we will not consider the dates in our model.

In [218]:
df5.drop(['drug_name', 'date_filled'], axis=1, inplace=True)
df5.head(3) # check the update

,member_id,ndc_number,days_supply,metric_quantity,new_or_refill,drug_quantity_rate
0,AAHLhKW7RYOEQIemWrh/1w==,60505013400,60.0,60,N,1.0
1,AAHLhKW7RYOEQIemWrh/1w==,62175013643,90.0,90,N,1.0
2,AAHLhKW7RYOEQIemWrh/1w==,50742013510,90.0,90,N,1.0

Last we will drop `days_supply` and `metric_quantity` since we will record the quantity using the column `drug_quantity_rate`.

In [219]:
df5.drop(['days_supply', 'metric_quantity'], axis=1, inplace=True)
df5.head(3) # check the update

                  member_id   ndc_number new_or_refill  drug_quantity_rate
0  AAHLhKW7RYOEQIemWrh/1w==  60505013400             N                 1.0
1  AAHLhKW7RYOEQIemWrh/1w==  62175013643             N                 1.0
2  AAHLhKW7RYOEQIemWrh/1w==  50742013510             N                 1.0

### 2.7.6 Train Data<a id='2.7.6_Train_Data'></a>

In [220]:
df6.head(3)

,member_id,hcc_9,hcc_10,hcc_11,hcc_12,hcc_18,hcc_19,hcc_21,hcc_22,hcc_23,...,hcc_88,hcc_96,hcc_103,hcc_108,hcc_111,hcc_112,hcc_124,hcc_137,hcc_138,hcc_161
0,c5xNoBb+QoCII8LRiNnScg==,0,0,0,0,0,0,0,1,0,...,0,1,0,1,1,0,0,0,1,0
1,rofIXF8fT9CAAtouT8yPSQ==,0,0,0,0,1,0,0,0,0,...,1,1,0,0,0,0,0,1,1,0
2,7Rs4fvk6TJG2rYLiXGLFnQ==,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [221]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26559 entries, 0 to 26558
Data columns (total 31 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   member_id  26559 non-null  object
 1   hcc_9      26559 non-null  int64
 2   hcc_10     26559 non-null  int64
 3   hcc_11     26559 non-null  int64
 4   hcc_12     26559 non-null  int64
 5   hcc_18     26559 non-null  int64
 6   hcc_19     26559 non-null  int64
 7   hcc_21     26559 non-null  int64
 8   hcc_22     26559 non-null  int64
 9   hcc_23     26559 non-null  int64
 10  hcc_40     26559 non-null  int64
 11  hcc_47     26559 non-null  int64
 12  hcc_48     26559 non-null  int64
 13  hcc_51     26559 non-null  int64
 14  hcc_52     26559 non-null  int64
 15  hcc_55     26559 non-null  int64
 16  hcc_59     26559 non-null  int64
 17  hcc_75     26559 non-null  int64
 18  hcc_79     26559 non-null  int64
 19  hcc_84     26559 non-null  int64
 20  hcc_85     26559 non-null  int64
 21  hcc_88     26559 non-null  int64
 22  hcc_96     26559 non-null  int64
 23  hcc_103    26559 non-null  int64
 24  hcc_108    26559 non-null  int64
 25  hcc_111    26559 non-null  int64
 26  hcc_112    26559 non-null  int64
 27  hcc_124    26559 non-null  int64
 28  hcc_137    26559 non-null  int64
 29  hcc_138    26559 non-null  int64
 30  hcc_161    26559 non-null  int64
dtypes: int64(30), object(1)
memory usage: 6.3+ MB

In [222]:
df6.nunique()

member_id    26559
hcc_9            2
hcc_10           2
hcc_11           2
hcc_12           2
hcc_18           2
hcc_19           2
hcc_21           2
hcc_22           2
hcc_23           2
hcc_40           2
hcc_47           2
hcc_48           2
hcc_51           2
hcc_52           2
hcc_55           2
hcc_59           2
hcc_75           2
hcc_79           2
hcc_84           2
hcc_85           2
hcc_88           2
hcc_96           2
hcc_103          2
hcc_108          2
hcc_111          2
hcc_112          2
hcc_124          2
hcc_137          2
hcc_138          2
hcc_161          2
dtype: int64

### Part B <a id='Part_B'></a>

### 2.8 Subset the Data<a id='2.8_Subset_the_Data'></a>

* The size of our data is very large. This can easily cause some issues with the implementations of our algorithms. In this part, we will subset all the dataframes to make sure that we will not run into an issue due to the size of the data.


* We will filter the data with respect to the patients who have the ilnesses 'I10' and/or 'I739' since these two ilnesses are not correlated. Therefore our goal is to classify patients based on whether they have one or both of these ilnesses.

### 2.8.1 Subset Disease Data<a id='2.8.1_Subset_Disease_Data'></a>

In [223]:
df2['icd_code'].value_counts()

I10        29172
I739       18791
E1151      18603
J449       16953
E785       14982
           ...
C380           1
S52521D        1
Y93B9          1
S20369A        1
D1602          1
Name: icd_code, Length: 12951, dtype: int64

In [224]:
df2[df2['icd_code']=='I10'].nunique()

member_id               19940
icd_code                    1
icd_chronic_or_acute        1
dtype: int64

In [225]:
df2[df2['icd_code']=='I739'].nunique()

member_id               13404
icd_code                    1
icd_chronic_or_acute        1
dtype: int64

In [226]:
df2_I10_I739=df2[(df2['icd_code']=='I10') | (df2['icd_code']=='I739')]
df2_I10_I739.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47963 entries, 0 to 1022148
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   member_id             47963 non-null  object
 1   icd_code              47963 non-null  object
 2   icd_chronic_or_acute  47963 non-null  object
dtypes: object(3)
memory usage: 1.5+ MB

In [227]:
df2_I10_I739.head()

                    member_id icd_code icd_chronic_or_acute
0    AAHLhKW7RYOEQIemWrh/1w==     I739              Chronic
5    AAHLhKW7RYOEQIemWrh/1w==     I739              Chronic
36   AAKW/PKhRva+ZS2B4s0AmA==      I10              Unknown
45   AAKW/PKhRva+ZS2B4s0AmA==     I739              Chronic
106  AAlNgHwPRw2nNdCnsEKnyA==      I10              Unknown

In [228]:
df2_subset=df2_I10_I739.sample(n=2000, random_state=12)
df2_subset.nunique()

member_id               1942
icd_code                   2
icd_chronic_or_acute       2
dtype: int64

In [229]:
a=df2_subset[df2_subset['icd_code']=='I10']['member_id']
b=df2_subset[df2_subset['icd_code']=='I739']['member_id']
len(set(a).intersection(set(b)))

29

In [230]:
df2_subset['icd_code'].value_counts()

I10     1233
I739     767
Name: icd_code, dtype: int64

### 2.8.2 Subset Admissions Data<a id='2.8.2_Subset_Admissions_Data'></a>

In [231]:
df1_subset=df1[df1['member_id'].isin(df2_subset['member_id'])]

In [232]:
df1_subset['member_id'].value_counts()

3LEtcGKvR964GbMQrmOtAQ==    41
ieyPtRprQxu3bqDUTn8GPg==    20
4mG1PmieQ7uevLwoLBoI9A==    18
4n3nWPZQSi+HgKWUwwUrBQ==    16
gzqkrWQiSiSBIBPzEajeyg==    15
                            ..
ix+H1vzeS3qWLNfZG3//DA==     1
sBsfk0g3RU6seeGxBHsghQ==     1
ylpA/MJlTKWRELLCyvgLtg==     1
ASocXxCYQx2FqIa2wVEwPA==     1
2k7aPnwCSoGTzu9FNXdjEw==     1
Name: member_id, Length: 710, dtype: int64

We will remove the member id that shows up 41 times in all dataframes since this is an outlier, see above cell.

In [233]:
df1_subset=df1_subset[~(df1_subset['member_id']=='3LEtcGKvR964GbMQrmOtAQ==')]
df1_subset['member_id'].value_counts() # check the update

ieyPtRprQxu3bqDUTn8GPg==    20
4mG1PmieQ7uevLwoLBoI9A==    18
4n3nWPZQSi+HgKWUwwUrBQ==    16
gzqkrWQiSiSBIBPzEajeyg==    15
dSZE0RmSQ/+STOoHxKtLvw==    14
                            ..
ix+H1vzeS3qWLNfZG3//DA==     1
sBsfk0g3RU6seeGxBHsghQ==     1
ylpA/MJlTKWRELLCyvgLtg==     1
ASocXxCYQx2FqIa2wVEwPA==     1
2k7aPnwCSoGTzu9FNXdjEw==     1
Name: member_id, Length: 709, dtype: int64

In [234]:
df2_subset=df2_subset[~(df2_subset['member_id']=='3LEtcGKvR964GbMQrmOtAQ==')]
df2_subset[df2_subset['member_id']=='3LEtcGKvR964GbMQrmOtAQ=='] # check the update

Empty DataFrame
Columns: [member_id, icd_code, icd_chronic_or_acute]
Index: []

### 2.8.3 Subset Labs Data<a id='2.8.3_Subset_Labs_Data'></a>

In [235]:
df3_subset=df3[df3['member_id'].isin(df2_subset['member_id'])]
df3_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 411104 entries, 531 to 5918611
Data columns (total 3 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   member_id              411104 non-null  object
 1   loinc_code             411104 non-null  object
 2   abnormal_code_updated  286744 non-null  object
dtypes: object(3)
memory usage: 12.5+ MB

In [236]:
df3_subset.nunique()

member_id                1553
loinc_code               1501
abnormal_code_updated       4
dtype: int64

In [237]:
df3_subset=df3_subset[~(df3_subset['member_id']=='3LEtcGKvR964GbMQrmOtAQ==')]
df3_subset[df3_subset['member_id']=='3LEtcGKvR964GbMQrmOtAQ=='] # check the update

Empty DataFrame
Columns: [member_id, loinc_code, abnormal_code_updated]
Index: []

### 2.8.4 Subset Patients Data<a id='2.8.4_Subset_Patients_Data'></a>

In [238]:
df4_subset=df4[df4['member_id'].isin(df2_subset['member_id'])]
df4_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1654 entries, 0 to 26558
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   member_id          1654 non-null   object
 1   age                1654 non-null   int64
 2   sex                1654 non-null   object
 3   dual_status        1654 non-null   object
 4   insurance_company  1654 non-null   object
 5   insurance_type     1654 non-null   object
 6   pbp_type           1654 non-null   object
 7   county             1654 non-null   object
 8   city               1654 non-null   object
dtypes: int64(1), object(8)
memory usage: 129.2+ KB

In [239]:
df4_subset=df4_subset[~(df4_subset['member_id']=='3LEtcGKvR964GbMQrmOtAQ==')]
df4_subset[df4_subset['member_id']=='3LEtcGKvR964GbMQrmOtAQ=='] # check the update

Empty DataFrame
Columns: [member_id, age, sex, dual_status, insurance_company, insurance_type, pbp_type, county, city]
Index: []

### 2.8.5 Subset Prescriptions Data<a id='2.8.5_Subset_Prescriptions_Data'></a>

In [240]:
df5_subset=df5[df5['member_id'].isin(df2_subset['member_id'])]
df5_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 117285 entries, 0 to 1740854
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   member_id           117285 non-null  object
 1   ndc_number          116885 non-null  object
 2   new_or_refill       88815 non-null   object
 3   drug_quantity_rate  108575 non-null  float64
dtypes: float64(1), object(3)
memory usage: 4.5+ MB

In [241]:
df5_subset.nunique()

member_id             1631
ndc_number            6198
new_or_refill            2
drug_quantity_rate     826
dtype: int64

In [242]:
df5_subset=df5_subset[~(df5_subset['member_id']=='3LEtcGKvR964GbMQrmOtAQ==')]
df5_subset[df5_subset['member_id']=='3LEtcGKvR964GbMQrmOtAQ=='] # check the update

Empty DataFrame
Columns: [member_id, ndc_number, new_or_refill, drug_quantity_rate]
Index: []

### 2.9 One Record per Member Id<a id='2.9_One_Record_per_Member_Id'></a>

In this section we will convert each of the dataframe into one where we have exactly one record per patient/member id.

### 2.9.1 Admissions Data Converted<a id='2.9.1_Admissions_Data'></a>

In [243]:
df1_subset.head(10)

,member_id,admission_type,is_readmission,er_to_inp_admission_transfer,days_to_prev_admission,visit_duration,visit_duration_updated,nth_visit
53,AH8v69t8QBW1u2Iuh/5qlQ==,ER,No,Y,NaN,0,1,1
54,AH8v69t8QBW1u2Iuh/5qlQ==,INP,Yes,Y,NaN,0,1,2
55,AIEq/y06TGOCCjwkDzmaeA==,INP,Yes,Y,NaN,2,3,1
56,AIEq/y06TGOCCjwkDzmaeA==,ER,Yes,Y,NaN,2,3,2
57,AIEq/y06TGOCCjwkDzmaeA==,INP,No,N,NaN,2,3,3
58,AInQlUfTRjSpklIOiuCifg==,ER,No,N,NaN,0,1,1
126,ASocXxCYQx2FqIa2wVEwPA==,INP,No,N,NaN,0,1,1
128,AT8OymC8RvqD0Qyb7GgZ7Q==,INP,No,N,NaN,6,7,1
129,AT8OymC8RvqD0Qyb7GgZ7Q==,OTH,No,N,NaN,6,7,2
231,AecjKn3URtmQ/NcqfANXvg==,ER,No,Y,NaN,3,4,1

To have one row per patient we will use two functions that we wrote; `df1_one_record_per_member_id()` and `fill_df1_res()`, see the auxiliary_functions.ipynb.  We consider each visit without any aggregation. The maximum number of visits among all patients is 20 (see below). 

 * We will create 20 columms called `v1`, `v2`, ..., `v_20` where we keep the records whether the patient had the visit or not. For instance a patient with only 5 visits will have 1 for all columns `v1` through `v5` and nulls in all other columns `v6` through`v_20`. 

* We will also have the columns `vi_re_adm`, `vi_er_to_inp`, `vi_days_to_prev`, `vi_len`, `vi_len_pos`, `vi_ER`,..., `vi_INP REHAB` for each i=1,2,...,20 to include all the information for ith visit.

In [244]:
df1_res=df1_one_record_per_member_id(df1_subset)

In [245]:
df1_res.head()

,member_id,num_of_visit,v1,v1_re_adm,v1_er_to_inp,v1_days_to_prev,v1_len,v1_len_pos,v1_ER,v1_INP,...,v20_len,v20_len_pos,v20_ER,v20_INP,v20_OTH,v20_SNF,v20_OBS,v20_OUT,v20_HOSPICE,v20_INP REHAB
0,AH8v69t8QBW1u2Iuh/5qlQ==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AIEq/y06TGOCCjwkDzmaeA==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AInQlUfTRjSpklIOiuCifg==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ASocXxCYQx2FqIa2wVEwPA==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AT8OymC8RvqD0Qyb7GgZ7Q==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Now we will fill 'df1_res' accordingly using the function 'fill_df1_res()', see below.

In [246]:
df1_res=fill_df1_res(df1_res, df1_subset)

In [247]:
df1_res.head()

,member_id,num_of_visit,v1,v1_re_adm,v1_er_to_inp,v1_days_to_prev,v1_len,v1_len_pos,v1_ER,v1_INP,...,v20_len,v20_len_pos,v20_ER,v20_INP,v20_OTH,v20_SNF,v20_OBS,v20_OUT,v20_HOSPICE,v20_INP REHAB
0,AH8v69t8QBW1u2Iuh/5qlQ==,2,1,0,1,NaN,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
1,AIEq/y06TGOCCjwkDzmaeA==,3,1,1,1,NaN,2,3,0,1,...,0,0,0,0,0,0,0,0,0,0
2,AInQlUfTRjSpklIOiuCifg==,1,1,0,0,NaN,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
3,ASocXxCYQx2FqIa2wVEwPA==,1,1,0,0,NaN,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,AT8OymC8RvqD0Qyb7GgZ7Q==,2,1,0,0,NaN,6,7,0,1,...,0,0,0,0,0,0,0,0,0,0

In [282]:
df1_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709 entries, 0 to 708
Columns: 282 entries, member_id to v20_INP REHAB
dtypes: float64(11), int64(270), object(1)
memory usage: 1.5+ MB

In [248]:
# save the data to a new csv file
datapath = '../Outputs'
save_file(df1_res, 'df1_res.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)Y
Writing file.  "../Outputs/df1_res.csv"

In [249]:
df1_res.nunique() # check df1_res

member_id        709
num_of_visit      18
v1                 1
v1_re_adm          2
v1_er_to_inp       2
                ...
v20_SNF            1
v20_OBS            1
v20_OUT            1
v20_HOSPICE        1
v20_INP REHAB      1
Length: 282, dtype: int64

In [250]:
df1_res[df1_res['member_id']=='AH8v69t8QBW1u2Iuh/5qlQ==']['v1_ER']
# check the df1_res

0    1
Name: v1_ER, dtype: int64

In [251]:
df1_res[df1_res['member_id']=='AIEq/y06TGOCCjwkDzmaeA==']['v3_ER']
# check df1_res

1    0
Name: v3_ER, dtype: int64

### 2.9.2 Disease Data Converted<a id='2.9.2_Disease_Data'></a>

In [252]:
df2_subset.head()

                       member_id icd_code icd_chronic_or_acute
636201  nr+43zfHQPKSwx2IJuJI5Q==      I10              Unknown
351311  Vwf7mI0tTGC4amYJPD6uJg==     I739              Chronic
310891  TRudRczSQt6dwb6EeZ1RLA==     I739              Chronic
347932  VjG87+cBSB2B1+loMmoHCg==     I739              Chronic
943332  7CfP6Hq5Qy6J0rXIuTc7kw==      I10              Unknown

In [253]:
df2_subset['member_id'].unique()

array(['nr+43zfHQPKSwx2IJuJI5Q==', 'Vwf7mI0tTGC4amYJPD6uJg==',
       'TRudRczSQt6dwb6EeZ1RLA==', ..., 'b9Cbw3jHTIOLWpDPvN2riQ==',
       'HdM6f94vR9SSoLy6Yovsbw==', 'ZtdvAJtHT/uuwJWbulElSA=='],
      dtype=object)

In [254]:
df2_res=df2_one_record_per_member_id(df2_subset)

In [255]:
df2_res.head()

,member_id,icd_I10,icd_I10_chronic,icd_I739,icd_I739_chronic
0,nr+43zfHQPKSwx2IJuJI5Q==,0,0,0,0
1,Vwf7mI0tTGC4amYJPD6uJg==,0,0,0,0
2,TRudRczSQt6dwb6EeZ1RLA==,0,0,0,0
3,VjG87+cBSB2B1+loMmoHCg==,0,0,0,0
4,7CfP6Hq5Qy6J0rXIuTc7kw==,0,0,0,0

In [256]:
df2_res=fill_df2_res(df2_res, df2_subset)

In [257]:
df2_res.head()

,member_id,icd_I10,icd_I10_chronic,icd_I739,icd_I739_chronic
0,nr+43zfHQPKSwx2IJuJI5Q==,1,0,0,0
1,Vwf7mI0tTGC4amYJPD6uJg==,0,0,1,1
2,TRudRczSQt6dwb6EeZ1RLA==,0,0,1,1
3,VjG87+cBSB2B1+loMmoHCg==,0,0,1,1
4,7CfP6Hq5Qy6J0rXIuTc7kw==,1,0,0,0

In [258]:
df2_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941 entries, 0 to 1940
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   member_id         1941 non-null   object
 1   icd_I10           1941 non-null   int64
 2   icd_I10_chronic   1941 non-null   int64
 3   icd_I739          1941 non-null   int64
 4   icd_I739_chronic  1941 non-null   int64
dtypes: int64(4), object(1)
memory usage: 75.9+ KB

In [259]:
# save the data to a new csv file
datapath = '../Outputs'
save_file(df2_res, 'df2_res.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)Y
Writing file.  "../Outputs/df2_res.csv"

In [260]:
df2_res.nunique() # check df2_res

member_id           1941
icd_I10                2
icd_I10_chronic        1
icd_I739               2
icd_I739_chronic       2
dtype: int64

In [283]:
df2_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1941 entries, 0 to 1940
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   member_id         1941 non-null   object
 1   icd_I10           1941 non-null   int64
 2   icd_I10_chronic   1941 non-null   int64
 3   icd_I739          1941 non-null   int64
 4   icd_I739_chronic  1941 non-null   int64
dtypes: int64(4), object(1)
memory usage: 75.9+ KB

Notice that `icd_I10` has only one value which is zero. We check the dataframe 'df2_subset' to see whether this is correct, see below. What we find below shows that our function 'fill_df2_res()' works fine.

In [261]:
df2_subset[df2_subset['icd_code']=='I10']['icd_chronic_or_acute'].value_counts()

Unknown    1232
Name: icd_chronic_or_acute, dtype: int64

### 2.9.3 Labs Data Converted<a id='2.9.3_Labs_Data'></a>

In [262]:
df3_subset.head()

                    member_id loinc_code abnormal_code_updated
531  OEcf/fmaTq+aPoYfknZK3A==     4548-4                     H
532  OEcf/fmaTq+aPoYfknZK3A==     2161-8                  NORM
533  OEcf/fmaTq+aPoYfknZK3A==      742-7                  NORM
534  OEcf/fmaTq+aPoYfknZK3A==      777-3                     H
535  OEcf/fmaTq+aPoYfknZK3A==     2028-9                  NORM

In [263]:
df3_res=df3_one_record_per_member_id(df3_subset)

In [264]:
df3_res.head()

,member_id,lab_4548-4,lab_4548-4_res,lab_2161-8,lab_2161-8_res,lab_742-7,lab_742-7_res,lab_777-3,lab_777-3_res,lab_2028-9,...,lab_11584-0,lab_11584-0_res,lab_6821-3,lab_6821-3_res,lab_6152-3,lab_6152-3_res,lab_61042-8,lab_61042-8_res,lab_74678-4,lab_74678-4_res
0,OEcf/fmaTq+aPoYfknZK3A==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,OHAaSbjjQquqw750i32wuA==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,OL1Gv0mTT6aSz11YkojgFQ==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,OOb0nTVcSkyILTIDg0rDBQ==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,OSnkbI+ORmaJISZfI7IDNg==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [265]:
df3_res=fill_df3_res(df3_res, df3_subset)

In [310]:
df3_res.head()

,member_id,lab_4548-4,lab_4548-4_res,lab_2161-8,lab_2161-8_res,lab_742-7,lab_742-7_res,lab_777-3,lab_777-3_res,lab_2028-9,...,lab_11584-0,lab_11584-0_res,lab_6821-3,lab_6821-3_res,lab_6152-3,lab_6152-3_res,lab_61042-8,lab_61042-8_res,lab_74678-4,lab_74678-4_res
0,OEcf/fmaTq+aPoYfknZK3A==,1,H,1,NORM,1,NORM,1,H,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,OHAaSbjjQquqw750i32wuA==,1,NORM,0,0,1,NORM,1,NORM,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,OL1Gv0mTT6aSz11YkojgFQ==,1,H,1,NORM,1,NORM,1,NORM,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,OOb0nTVcSkyILTIDg0rDBQ==,1,NaN,0,0,1,NORM,1,NORM,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,OSnkbI+ORmaJISZfI7IDNg==,1,NORM,1,NORM,1,NORM,1,NORM,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [311]:
df3_res.replace({'L': 1, 'NORM':2, 'H': 3, 'ABNORM':4 }, inplace=True)

In [312]:
df3_res.head()

,member_id,lab_4548-4,lab_4548-4_res,lab_2161-8,lab_2161-8_res,lab_742-7,lab_742-7_res,lab_777-3,lab_777-3_res,lab_2028-9,...,lab_11584-0,lab_11584-0_res,lab_6821-3,lab_6821-3_res,lab_6152-3,lab_6152-3_res,lab_61042-8,lab_61042-8_res,lab_74678-4,lab_74678-4_res
0,OEcf/fmaTq+aPoYfknZK3A==,1,3,1,2,1,2,1,3,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,OHAaSbjjQquqw750i32wuA==,1,2,0,0,1,2,1,2,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,OL1Gv0mTT6aSz11YkojgFQ==,1,3,1,2,1,2,1,2,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,OOb0nTVcSkyILTIDg0rDBQ==,1,NaN,0,0,1,2,1,2,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,OSnkbI+ORmaJISZfI7IDNg==,1,2,1,2,1,2,1,2,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [313]:
df3_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1553 entries, 0 to 1552
Columns: 3003 entries, member_id to lab_74678-4_res
dtypes: float64(806), int64(1501), object(696)
memory usage: 35.6+ MB

Next, we will change the object dtypes to 'float64' for all columns except for `member_id`.

In [318]:
lst_object_type=list(df3_res.select_dtypes(include=['object']).columns[1:])
lst_object_type
dict0={}
for item in lst_object_type:
    dict0[item]='float64'
dict0
df3_res.astype(dict0)

,member_id,lab_4548-4,lab_4548-4_res,lab_2161-8,lab_2161-8_res,lab_742-7,lab_742-7_res,lab_777-3,lab_777-3_res,lab_2028-9,...,lab_11584-0,lab_11584-0_res,lab_6821-3,lab_6821-3_res,lab_6152-3,lab_6152-3_res,lab_61042-8,lab_61042-8_res,lab_74678-4,lab_74678-4_res
0,OEcf/fmaTq+aPoYfknZK3A==,1,3.0,1,2.0,1,2.0,1,3.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1,OHAaSbjjQquqw750i32wuA==,1,2.0,0,0.0,1,2.0,1,2.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
2,OL1Gv0mTT6aSz11YkojgFQ==,1,3.0,1,2.0,1,2.0,1,2.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
3,OOb0nTVcSkyILTIDg0rDBQ==,1,NaN,0,0.0,1,2.0,1,2.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
4,OSnkbI+ORmaJISZfI7IDNg==,1,2.0,1,2.0,1,2.0,1,2.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1548,/0BjTzIgQwqSKZ8TOnahyg==,0,0.0,0,0.0,1,2.0,1,2.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1549,/1b2au+7QSWs6Pmp7fg05A==,0,0.0,1,2.0,1,2.0,1,2.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1550,/6KVmD1fSLyLfmsKwAkHYA==,0,0.0,0,0.0,0,0.0,0,0.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0
1551,//CCSUI/S9ucTP+bePc5bg==,1,3.0,1,NaN,1,2.0,1,2.0,1,...,0,0.0,0,0.0,0,0.0,1,NaN,1,NaN
1552,///uITfyRfWJWvDWJ+kZLA==,1,3.0,1,2.0,1,2.0,1,2.0,1,...,0,0.0,0,0.0,0,0.0,0,0.0,0,0.0

In [319]:
df3_res.info() # check the update

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1553 entries, 0 to 1552
Columns: 3003 entries, member_id to lab_74678-4_res
dtypes: float64(806), int64(1501), object(696)
memory usage: 35.6+ MB

In [269]:
# save the data to a new csv file
datapath = '../Outputs'
save_file(df3_res, 'df3_res.csv', datapath)

### 2.9.4 Patients Data Converted<a id='2.9.4_Patients_Data'></a>

In [272]:
df4_subset

,member_id,age,sex,dual_status,insurance_company,insurance_type,pbp_type,county,city
0,AAHLhKW7RYOEQIemWrh/1w==,72,M,1,1,1,1,1,1
56,AH8v69t8QBW1u2Iuh/5qlQ==,43,M,2,5,1,1,9,20
58,AIEq/y06TGOCCjwkDzmaeA==,89,M,2,2,1,2,15,35
61,AInQlUfTRjSpklIOiuCifg==,65,F,2,2,1,2,8,37
85,AL2IzG8rS6aPNKm7P4m67g==,74,F,2,5,1,2,17,43
...,...,...,...,...,...,...,...,...,...
26492,/0BjTzIgQwqSKZ8TOnahyg==,76,M,2,2,1,5,9,20
26501,/1b2au+7QSWs6Pmp7fg05A==,81,M,2,2,1,1,2,2
26520,/6KVmD1fSLyLfmsKwAkHYA==,71,M,6,1,1,3,18,78
26553,//CCSUI/S9ucTP+bePc5bg==,77,F,2,4,1,1,7,10
26558,///uITfyRfWJWvDWJ+kZLA==,70,M,2,2,1,6,12,64

In [273]:
df4_subset.nunique()

member_id            1654
age                    56
sex                     2
dual_status             8
insurance_company      11
insurance_type          2
pbp_type                9
county                 28
city                  176
dtype: int64

'df4_subset' has one record per member id. So we only need to get dummy variables for the categorical columns, see below.

In [274]:
df4_subset=df4_subset.astype({'age': 'int64', 'sex': 'category', 'dual_status':'category', 'insurance_company':'category',
       'insurance_type': 'category', 'pbp_type': 'category', 'county': 'category', 'city': 'category'})

In [275]:
df4_subset.info() # check the update

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1654 entries, 0 to 26558
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   member_id          1654 non-null   object
 1   age                1654 non-null   int64
 2   sex                1654 non-null   category
 3   dual_status        1654 non-null   category
 4   insurance_company  1654 non-null   category
 5   insurance_type     1654 non-null   category
 6   pbp_type           1654 non-null   category
 7   county             1654 non-null   category
 8   city               1654 non-null   category
dtypes: category(7), int64(1), object(1)
memory usage: 60.9+ KB

In [276]:
df4_res=pd.get_dummies(df4_subset, columns=['sex', 'dual_status', 'insurance_company',
       'insurance_type', 'pbp_type', 'county', 'city'])

In [277]:
df4_res.head()

,member_id,age,sex_F,sex_M,dual_status_1,dual_status_2,dual_status_3,dual_status_4,dual_status_5,dual_status_6,...,city_9,city_90,city_91,city_92,city_93,city_95,city_96,city_97,city_98,city_99
0,AAHLhKW7RYOEQIemWrh/1w==,72,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
56,AH8v69t8QBW1u2Iuh/5qlQ==,43,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58,AIEq/y06TGOCCjwkDzmaeA==,89,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
61,AInQlUfTRjSpklIOiuCifg==,65,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85,AL2IzG8rS6aPNKm7P4m67g==,74,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [278]:
# save the data to a new csv file
datapath = '../Outputs'
save_file(df4_res, 'df4_res.csv', datapath)

A file already exists with this name.

Do you want to overwrite? (Y/N)Y
Writing file.  "../Outputs/df4_res.csv"

### 2.9.5  Prescriptions Data Converted<a id='2.9.5_Prescriptions_Data'></a>

In [173]:
df5_subset.head(100)

                     member_id   ndc_number new_or_refill  drug_quantity_rate
0     AAHLhKW7RYOEQIemWrh/1w==  60505013400             N            1.000000
1     AAHLhKW7RYOEQIemWrh/1w==  62175013643             N            1.000000
2     AAHLhKW7RYOEQIemWrh/1w==  50742013510             N            1.000000
3     AAHLhKW7RYOEQIemWrh/1w==  60505267108             N            1.000000
4     AAHLhKW7RYOEQIemWrh/1w==  43547039910             N            1.000000
...                        ...          ...           ...                 ...
3189  AH8v69t8QBW1u2Iuh/5qlQ==  59746017210             R            0.250000
3190  AH8v69t8QBW1u2Iuh/5qlQ==  16729004201             R            0.333333
3191  AH8v69t8QBW1u2Iuh/5qlQ==  13107000305             R            1.000000
3192  AH8v69t8QBW1u2Iuh/5qlQ==  52565001480             R            0.375000
3193  AH8v69t8QBW1u2Iuh/5qlQ==  65862001205             N            1.000000

[100 rows x 4 columns]

In [133]:
df5_res=df5_one_record_per_member_id(df5_subset)

In [134]:
df5_res.head()

,member_id,ndc#_60505013400,ndc#_60505013400_rate,ncd#_60505013400_refill,ndc#_62175013643,ndc#_62175013643_rate,ncd#_62175013643_refill,ndc#_50742013510,ndc#_50742013510_rate,ncd#_50742013510_refill,...,ncd#_93739286_refill,ndc#_40093010390,ndc#_40093010390_rate,ncd#_40093010390_refill,ndc#_50924047550,ndc#_50924047550_rate,ncd#_50924047550_refill,ndc#_66758019005,ndc#_66758019005_rate,ncd#_66758019005_refill
0,AAHLhKW7RYOEQIemWrh/1w==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AH8v69t8QBW1u2Iuh/5qlQ==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AIEq/y06TGOCCjwkDzmaeA==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,AInQlUfTRjSpklIOiuCifg==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,AL2IzG8rS6aPNKm7P4m67g==,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [135]:
df5_res=fill_df5_res(df5_res, df5_subset)

In [136]:
# save the data to a new csv file
datapath = '../Outputs'
save_file(df5_res, 'df5_res.csv', datapath)

Writing file.  "../Outputs/df5_res.csv"

In [211]:
df5_res.nunique()

member_id                  1631
ndc#_60505013400              2
ndc#_60505013400_rate         3
ncd#_60505013400_refill       1
ndc#_62175013643              2
                           ...
ndc#_10135018210_refill       1
ndc#_832102510_refill         1
ndc#_71093012105_refill       1
ndc#_43598075360_refill       1
ndc#_64380086106_refill       1
Length: 21824, dtype: int64

In [168]:
df5_res

,member_id,ndc#_60505013400,ndc#_60505013400_rate,ncd#_60505013400_refill,ndc#_62175013643,ndc#_62175013643_rate,ncd#_62175013643_refill,ndc#_50742013510,ndc#_50742013510_rate,ncd#_50742013510_refill,...,ndc#_591034301_refill,ndc#_42806005510_refill,ndc#_93205506_refill,ndc#_33342009809_refill,ndc#_378181977_refill,ndc#_10135018210_refill,ndc#_832102510_refill,ndc#_71093012105_refill,ndc#_43598075360_refill,ndc#_64380086106_refill
0,AAHLhKW7RYOEQIemWrh/1w==,1,1.0,0,1,1.0,0,1,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH8v69t8QBW1u2Iuh/5qlQ==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AIEq/y06TGOCCjwkDzmaeA==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AInQlUfTRjSpklIOiuCifg==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL2IzG8rS6aPNKm7P4m67g==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1626,/0BjTzIgQwqSKZ8TOnahyg==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1627,/1b2au+7QSWs6Pmp7fg05A==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1628,/6KVmD1fSLyLfmsKwAkHYA==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1629,//CCSUI/S9ucTP+bePc5bg==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1630,///uITfyRfWJWvDWJ+kZLA==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
df5_res.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1631 entries, 0 to 1630
Columns: 21824 entries, member_id to ndc#_64380086106_refill
dtypes: float64(7417), int64(14406), object(1)
memory usage: 271.6+ MB

In [181]:
df5_res[df5_res['member_id']=='AH8v69t8QBW1u2Iuh/5qlQ==']['ndc#_52565001480_rate']
# check df5_res

1    0.375
Name: ndc#_52565001480_rate, dtype: float64

In [183]:
df5_res['ndc#_591034301_refill'].unique()

array([nan,  1.])

In [309]:
df5_res=pd.read_csv('../Outputs/df5_res.csv')
df5_res.head()

,member_id,ndc#_60505013400,ndc#_60505013400_rate,ncd#_60505013400_refill,ndc#_62175013643,ndc#_62175013643_rate,ncd#_62175013643_refill,ndc#_50742013510,ndc#_50742013510_rate,ncd#_50742013510_refill,...,ndc#_591034301_refill,ndc#_42806005510_refill,ndc#_93205506_refill,ndc#_33342009809_refill,ndc#_378181977_refill,ndc#_10135018210_refill,ndc#_832102510_refill,ndc#_71093012105_refill,ndc#_43598075360_refill,ndc#_64380086106_refill
0,AAHLhKW7RYOEQIemWrh/1w==,1,1.0,0,1,1.0,0,1,1.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AH8v69t8QBW1u2Iuh/5qlQ==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AIEq/y06TGOCCjwkDzmaeA==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AInQlUfTRjSpklIOiuCifg==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AL2IzG8rS6aPNKm7P4m67g==,0,0.0,0,0,0.0,0,0,0.0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Notice that we have nulls in our 'df5_res' dataframe which are in fact supposed to be 0. We will replace nulls with zero.

### Part C <a id='Part_C'></a>

### 2.10  Join the Converted Dataframes<a id='2.10_Join_the_Dataframes'></a>

Here we will join the dataframes 'df1_res', 'df2_res', 'df3_res', 'df4_res', 'df5_res' to get the dataframe we will use in our model.

In [320]:
lst=[df1_res, df3_res, df4_res, df5_res]
df_final=df2_res
for df_ in lst:
    df_final=df_final.merge(df_, how='left', on='member_id')
df_final

,member_id,icd_I10,icd_I10_chronic,icd_I739,icd_I739_chronic,num_of_visit,v1,v1_re_adm,v1_er_to_inp,v1_days_to_prev,...,ndc#_591034301_refill,ndc#_42806005510_refill,ndc#_93205506_refill,ndc#_33342009809_refill,ndc#_378181977_refill,ndc#_10135018210_refill,ndc#_832102510_refill,ndc#_71093012105_refill,ndc#_43598075360_refill,ndc#_64380086106_refill
0,nr+43zfHQPKSwx2IJuJI5Q==,1,0,0,0,1.0,1.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Vwf7mI0tTGC4amYJPD6uJg==,0,0,1,1,1.0,1.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRudRczSQt6dwb6EeZ1RLA==,0,0,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,VjG87+cBSB2B1+loMmoHCg==,0,0,1,1,2.0,1.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7CfP6Hq5Qy6J0rXIuTc7kw==,1,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1936,yK3V8p6AQCSFhAXhChO+dw==,0,0,1,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1937,al/jPZNVSTGExhMMW+ZpBg==,1,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1938,b9Cbw3jHTIOLWpDPvN2riQ==,0,0,1,1,6.0,1.0,0.0,0.0,395.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1939,HdM6f94vR9SSoLy6Yovsbw==,1,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1940,ZtdvAJtHT/uuwJWbulElSA==,1,0,0,0,1.0,1.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 2.11  Save the Final Dataframe<a id='2.11_Save_the_Data'></a>

In [321]:
# save the data to a new csv file
datapath = '../Outputs'
save_file(df_final, 'df_final.csv', datapath)

Writing file.  "../Outputs/df_final.csv"

### 2.12  Final Remarks<a id='2.12_Final_Remarks'></a>

We have answered the following questions:

* Q1) What are the required target ilnesses?
* A1) We will classify our patients whether they have the ilnesses 'I10' and/or 'I739'. 


* Q2) Are there potentially useful features?
* A2) We have 25347 features that are potentially useful. We will use feature selection algorithms to pick the most useful of these features.


* Q3) Is there any fundamental issues with the data?
* A3) We had numerous issues with the data. Most are fixed. The final dataframe is sparse. We will consider this fact when we choose our model.